<app-navigation></app-navigation>
<div class="account-page-content-wrap">
    <div class="update-wrap">
        <h2>
            UPDATE PASSWORD
        </h2>
        <form [formGroup]="updateUserForm">
            <ul class="account-fields">
                <li class="form-group">
                    <label for="currentpassword">
                        Current Password
                    </label>
                    <div class="d-flex flex-flow-column width-100">
                      <input type="password" id="currentpassword" formControlName="currentPasswordControl" (keyup)="checkPassword()" autocomplete="nope" placeholder=""/>    
                      <span class="alert-text" *ngIf="updateUserForm.controls.currentPasswordControl.dirty && updateUserForm.controls.currentPasswordControl.hasError('required') && !passwordUpdated">Please enter current password</span>
                      <span class="alert-text" *ngIf="updateUserForm.controls.currentPasswordControl.dirty && !updateUserForm.controls.currentPasswordControl.hasError('required') && !passwordCheck">Incorrect password</span>
                    </div>
                </li>
                <li class="form-group">
                    <label for="newpassword">
                        New Password
                    </label>
                    <div class="d-flex flex-flow-column width-100">
                      <input type="password" id="newpassword" formControlName="newPasswordControl" placeholder=""/>    
                      <span class="alert-text" *ngIf="updateUserForm.controls.newPasswordControl.dirty && updateUserForm.controls.newPasswordControl.hasError('required') && !passwordUpdated">Please enter new password</span>
                      <span class="alert-text"  *ngIf="updateUserForm.controls.newPasswordControl.dirty && !updateUserForm.controls.newPasswordControl.hasError('required') && updateUserForm.controls.newPasswordControl.hasError('invalidCapital')">Password should contain a capital letter</span>
                      <span class="alert-text"  *ngIf="updateUserForm.controls.newPasswordControl.dirty && !updateUserForm.controls.newPasswordControl.hasError('required') && updateUserForm.controls.newPasswordControl.hasError('invalidNumber')">Password should contain a number</span>
                      <span class="alert-text"  *ngIf="updateUserForm.controls.newPasswordControl.dirty && !updateUserForm.controls.newPasswordControl.hasError('required') && updateUserForm.controls.newPasswordControl.hasError('invalidSpecial')">Password should contain a special character</span>
                      <span class="alert-text"  *ngIf="updateUserForm.controls.newPasswordControl.dirty && !updateUserForm.controls.newPasswordControl.hasError('required') && updateUserForm.controls.newPasswordControl.hasError('invalidLength')">Password should contain minimum 8 characters</span>
                    </div>
                </li>
                <li class="form-group y-center">
                    <label for="confirmpassword">
                        Confirm new Password
                    </label>
                    <div class="d-flex flex-flow-column width-100">
                      <input type="password" id="confirmpassword" formControlName="confirmPasswordControl" (keyup)="confirmPasswordCheck()" placeholder=""/>
                      <span class="alert-text" *ngIf="updateUserForm.controls.newPasswordControl.dirty && updateUserForm.controls.confirmPasswordControl.dirty && !confirmPasswordFlag">This does not match the new password you entered!</span>
                    </div>
                </li>
                <li class="btn-form d-flex justify-center">
                    <button type="button" class="button button-orange" (click)="updatePassword()">
                        Save
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>