.breadcrumbs{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wordbreak{
    word-break: break-all
}
.error_msg{
    color: red;
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}