<main class="main-content">
    <div class="add-new-client-wrap">
        <div class="add-new-client-text">
            <i>Your approval/denial has been processed</i>
            <a href="javascript:void(0);">
            <img src="assets/images/access-granted.svg" width="300px">
            </a>
        </div>
    </div>
</main>