<app-navigation></app-navigation>
<main class="main-content">
    <header class="page-header d-flex flex-column gap-20">
        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space m-0">
            <ul class="breadcrumbs d-flex y-center">
                <li>
                    <a href="javascript:void(0);" title="Game plans" class="active">Dropthought Templates</a>
                </li>
            </ul>
            <div class="d-flex">
                <button type="button" class="d-flex y-center dt-btn dt-btn-primary px-16 py-8" (click)="goToCreateTemplate()">
                    <span class="dtic-plus-fill mr-12"></span>
                    <span>Create new template</span>
                </button>
            </div>
        </div>
        <div class="pagination-wrap d-flex">
            <ul class="pagination-ul d-flex y-center" hidden>
                <li>
                    <a href="javascript:void(0);" title="" class="active">
                        Live game plans
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="">
                        Drafts
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <section class="client-card-wrap">
        <div class="d-flex flex-column justify-center y-center gap-16 text-center cardEmpty" hidden="templatesList.length > 0">
            <img src="../../../assets/images/empty.svg" alt="" class="icon-48 mx-auto"/>
            <div class="d-flex flex-column">
                <p class="text-dark text-para">
                    No Templates created yet.
                </p>
                <p class="text-dark text-para">
                    Start 
                    <a href="javascript:void(0);" title="" class="text-primary font-medium text-para">
                        Creating new one.
                    </a>
                </p>
            </div>
        </div>
        <div class="">
            <ul class="grid-three-columns game-plan-card" hidden>
                <li class="d-flex flex-column justify-space gap-48 relative">
                    <div class="d-flex flex-column gap-16">
                        <h3 class="font-medium">
                            Customer satisfaction Gameplan
                        </h3>
                        <p class="text-para text-white line-clamp-3">
                            This game plan aims to identify the key areas to focus on your customer engagement
                            This game plan aims to identify the key areas to focus on your customer engagement
                            This game plan aims to identify the key areas to focus on your customer engagement
                        </p>
                        <div class="d-flex flex-column gap-12">
                            <h3 class="text-medium text-primary-300">PreBuilt Programs</h3>
                            <ul class="d-flex flex-column gap-8">
                                <li class="d-flex gap-8">
                                    <div class="">
                                        <img src="../../../assets/images/radio-unselected.svg" alt="" />
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="text-white font-medium text-para">
                                            Safety and Security Audit
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex gap-8">
                                    <div class="">
                                        <img src="../../../assets/images/radio-unselected.svg" alt="" />
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="text-white font-medium text-para">
                                            Venue and Facilities experience
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex gap-8">
                                    <div class="">
                                        <img src="../../../assets/images/radio-unselected.svg" alt="" />
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="text-white font-medium text-para">
                                            Food and Beverage experience
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-12 xy-center">
                        <button type="button" class="dt-btn-white-primary d-flex y-center gap-8 justify-center w-100-percent">
                            <img src="../../../assets/images/blue-eye.svg" alt="" />
                            <span class="text-para">
                                Preview Gameplan
                            </span>
                        </button>
                        <p class="text-small text-primary-300 font-medium">
                            Guided by Dropthought
                        </p>
                    </div>
                    <span class="ham-burger-icon d-flex xy-center bg-white">
                        <img src="../../../assets/images/ham-dots-blue.svg" alt="" />
                    </span>
                    <div class="card-shuffle"></div>
                </li>
            </ul>
            <ul class="grid-four-columns template-plan-card" *ngIf="templatesList.length > 0">
                <li class="d-flex flex-column bg-white box-shadow-lte" *ngFor="let template of templatesList">
                    <div class="template-image d-flex xy-center" *ngIf="!template.templateImage">
                        <img src="../../../assets/images/template-sample-01.png" alt="" />
                    </div>
                    <div class="template-image d-flex xy-center" *ngIf="template.templateImage">
                        <img src="{{template.templateImage}}" alt="" />
                    </div>
                    <div class="p-20">
                        <button type="button" class="d-flex xy-center advanced-btn gap-4 advancedTopminus basic-pill">
                            <img src="../../../assets/images/star.svg" alt="" />
                            <p class="text-exsmall font-medium text-uppercase" *ngIf="template.advanced">
                                Advanced
                            </p>
                            <p class="text-exsmall font-medium text-uppercase" *ngIf="!template.advanced">
                                Basic
                            </p>
                        </button>
                        <h3 class="text-para text-dark font-medium mt-12">
                            {{template.templateName}}
                        </h3>
                        <div class="d-flex x-center gap-16 mt-12">
                            <h5 class="xy-center text-medium text-dark gap-4 d-flex">
                                <span class="">{{template.questionsCount}}</span>
                                <span>Questions</span>
                            </h5>
                            <h5 class="xy-center text-medium text-dark gap-4 d-flex">
                                <img src="../../../assets/images/clock.svg" alt="" />
                                <span>{{template.averageCompletionTime}} Avg. Time</span>
                            </h5>
                        </div>
                        <button type="button" class="xy-center gap-8 dt-btn dt-btn-white px-16 py-8 mt-32 d-flex w-100-percent" (click)="previewTemplate(template.templateUUID)">
                            <img src="../../../assets/images/blue-eye.svg" alt="" />
                            <span>Preview template</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>