
<!--Client card details-->
<div class="client-card-wrap">
    <div class="client-card-item d-flex y-center justify-space" *ngFor="let client of clients">
        <div class="d-flex" (click)="navigateToClientDetails(client, client.businessUUID)">
                <span class="client-card-image">
                    <img src="{{client.businessLogo}}"  alt="company-logo" />
                </span>
                <div class="client-card-details">
                    <div class="d-flex y-center gap-8 mb-8">
                        <h5 class="client-card-title m-0 cursor-pointer">
                        {{client.businessName}}
                    </h5>
                    <a href="javascript:void(0);" title="Dt-lite" class="cs-pills" *ngIf="client.planName && client.planName !=''">{{client.planName}}</a>
                    </div>
                    <p *ngIf="client.lastLoginTime">
                        Last login 
                        <!-- by <a href="javasscript:void(0);" class="client-name">Anirudh</a> -->
                        on
                        <span class="client-dte-time">{{client.lastLoginTime}}</span>
                    </p>
                </div>

        </div>
            
            <button class="cancel-button" type="button" *ngIf="pastClients" (click)="showRenewContractPopup(client.businessUUID)">
                Renew contract
            </button>
    </div>
</div>


   <!--Add New Client Popup-->
   <div class="overlay" *ngIf="contractPopup">
        <div class="modal-popup-wrapper add-new-client">
             <div class="modal-popup-wrap d-flex">
                 <!--close-icon-->
                 <a href="javascript:void(0);" title="close" class="popup-close" (click)="hideRenewContractPopup()">
                     <img src="../../../../assets/images/popup-close.svg" alt="close-icon" />
                 </a>
                 <!--popup-head-->
                 <div class="popup-header d-flex y-center">
                     <h2>Renew client contract</h2>
                 </div>
 
                 <!--Popup-body-->
                 <div class="popup-body-wrap">
                     <div class="popup-content-wrap d-flex">
                         <div class="flex-50 add-client-popup">
                             <h3 class="popup-subtitle-text">
                                 Client details
                             </h3>
                             <div class="form-group">
                                 <label>
                                     Company Name
                                 </label>
                                 <input type="text" placeholder="{{companyName}}" value="{{companyName}}" (keyup)="updateCompanyName($event.target.value)" />
                             </div>
                             <div class="d-flex justify-space contract-type">
                                 <div class="form-group">
                                     <label>
                                         Contract Start date
                                     </label>
                                     <input type="text" name="date-input"  autocomplete="off" class="calendar datepicker start-date"  id="start-date" placeholder="{{contractStartDate}}">
                                     <!-- <input type="text" class="calendar" placeholder="{{client?.contractStartDate}}"/> -->
                                 </div>
                                 <div class="form-group">
                                     <label>
                                         Contract End date
                                     </label>
                                     <!-- <input type="text" class="calendar" placeholder="{{client?.contractEndDate}}"/> -->
                                     <input type="text" name="date-input" autocomplete="off"  class="calendar datepicker end-date" id="end-date" placeholder="{{contractEndDate}}">
                                 </div>
                             </div>
                             <div class="differentiate">
                                 <div class="form-group form-group-sub-drop">
                                     <label>
                                         Employee range
                                     </label>
                                     <input type="text" placeholder="{{empRangePlaceholder}}"  (click)="displaySubDropDownMenu('empRange')" />
                                     <!--Sub drop menu-->
                                     <div class="dropdown-form" style="display: none; z-index: 10;" id="empRange">
                                         <label class="cs-checkbox" (click)="selectRange(1)">
                                             <input type="checkbox" class="check" [checked]="empRangePlaceholder == '50-100'"/>
                                             <span>
                                                 50-100
                                             </span>
                                         </label>
                                         <label class="cs-checkbox" (click)="selectRange(2)">
                                             <input type="checkbox" class="check" [checked]="empRangePlaceholder == '100-500'"/>
                                             <span>
                                                 100-500
                                             </span>
                                         </label>
                                         <label class="cs-checkbox" (click)="selectRange(3)">
                                             <input type="checkbox" class="check" [checked]="empRangePlaceholder == '500-1000'"/>
                                             <span>
                                                 500-1000
                                             </span>
                                         </label>
                                         <label class="cs-checkbox" (click)="selectRange(4)">
                                             <input type="checkbox" class="check" [checked]="empRangePlaceholder == '1000-5000'"/>
                                             <span>
                                                 1000-5000
                                             </span>
                                         </label>
                                         <!-- <label class="cs-checkbox" (click)="selectRange(5)">
                                             <input type="checkbox" class="check" [checked]="empRangePlaceholder == '5000-10000'"/>
                                             <span>
                                                 5000-10000
                                             </span>
                                         </label> -->
                                     </div>
                                 </div>
                                 <div class="form-group form-group-sub-drop">
                                     <label>
                                         Industry
                                     </label>
                                     <input type="text" placeholder="{{industryPlaceholder}}" (click)="displaySubDropDownMenu('industryMenu')"/>
 
                                     <!--Sub drop menu-->
                                     <div class="dropdown-form" style="display: none;" id="industryMenu">
                                         <label class="cs-checkbox" (mouseup)="selectIndustry(1)">
                                             <input type="checkbox" class="check" [checked]="industry.includes(1)"/>
                                             <span>
                                                 Healthcare
                                             </span>
                                         </label>
                                         <label class="cs-checkbox" (mouseup)="selectIndustry(2)">
                                             <input type="checkbox" class="check" [checked]="industry.includes(2)"/>
                                             <span>
                                                 Retail
                                             </span>
                                         </label>
                                         <label class="cs-checkbox" (mouseup)="selectIndustry(3)">
                                             <input type="checkbox" class="check" [checked]="industry.includes(3)"/>
                                             <span>
                                                 Automotive
                                             </span>
                                         </label>
                                         <label class="cs-checkbox" (mouseup)="selectIndustry(4)">
                                             <input type="checkbox" class="check" [checked]="industry.includes(4)"/>
                                             <span>
                                                 Pharma
                                             </span>
                                         </label>
                                     </div>
                                 </div>
                             </div>
                         </div>
 
                         <div class="flex-50 add-client-popup king-details">
                             <h3 class="popup-subtitle-text">
                                 King details
                             </h3>
                             <div class="form-group">
                                 <label>
                                     Name
                                 </label>
                                 <input type="text" [(ngModel)]="kingName" placeholder="{{kingName}}" />
                             </div>
                             <div class="form-group">
                                 <label>
                                     Email
                                 </label>
                                 <input type="email" [(ngModel)]="kingEmail" placeholder="{{kingEmail}}" />
                             </div>
                             <div class="differentiate">
                                 <div class="form-group">
                                     <label>
                                         Mobile
                                     </label>
                                     <input type="text" [(ngModel)]="kingMobile" placeholder="{{kingMobile}}" />
                                 </div>
                                 <div class="form-group">
                                     <label>
                                         Title
                                     </label>
                                     <input type="text" [(ngModel)]="kingTitle" placeholder="{{kingTitle}}" />
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
 
                 <!--Popup-footer-->
                 <div class="popup-footer d-flex y-center justify-space">
                         <button class="cancel-button" type="button" (click)="hideRenewContractPopup()">
                             Cancel
                         </button>  
                         <button class="button button-orange" type="button" (click)="saveDetails()">
                             Continue
                         </button>
                 </div>
             </div>
        </div>
    </div>


<!--CS-portal-alerts-->
<div class="alerts-wrap y-center justify-center d-flex" *ngIf="successfullyUpdated">
    <div class="alerts success d-flex justify-space y-center visible">
        Successfully updated!
        <svg width="12" height="12" viewBox="0 0 12 12" (click)="removeSuccessfullyUpdated()">
            <g id="close" transform="translate(0)" opacity="0.5">
                <rect id="Rectangle_1744" data-name="Rectangle 1744" width="12" height="12" fill="#ffd800" opacity="0"/>
                <path id="Union_3" data-name="Union 3" d="M4.5,4.5,0,9,4.5,4.5,0,0,4.5,4.5,9,0,4.5,4.5,9,9Z" transform="translate(1.5 1.5)" fill="none" stroke="#ca404a" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
        </svg>
    </div>
</div>