.danger-adjustment{
    font-size: 14px;
}
.disabled{
    pointer-events: none;
    opacity: .6;
    font-size: inherit;
}

.raise-font-size-text-plan-titles{
    font-size: 14px;
    margin-bottom: 10px;
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}
.selected {
    background-color: blue;
    color: white;
}
  
.selected:hover {
    background-color: blue;
    color: white;
}
  
.selected:active {
    background-color: blue;
    color: white;
}

.button-gray-disabled{
    background-color: #e0e0e0 !important;
}
.accessSettingsWrap .flex-50{
    width: 50%;
}