<app-navigation></app-navigation>
<main class="main-content">
    <header class="page-header d-flex flex-column gap-20">
        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space m-0">
            <ul class="breadcrumbs d-flex y-center">
                <li>
                    <a href="javascript:void(0);" title="Game plans" class="active">Gameplans</a>
                </li>
            </ul>
            <div class="d-flex">
                <button type="button" class="d-flex y-center dt-btn dt-btn-primary px-16 py-8" (click)="goToCreateGameplan()">
                    <span class="dtic-plus-fill d-flex mr-12"></span>
                    <span>Create new Gameplan</span>
                </button>
            </div>
        </div>
        <div class="pagination-wrap d-flex">
            <ul class="pagination-ul d-flex y-center">
                <li id="gameplan_li_activeTabs1">
                    <a class={{activeTabs[0]}} href="javascript:void(0);" (click)="selectTab('livegame')" id="gameplan_a_livegame">
                        Live game plans
                    </a>
                </li>
                <li id="gameplan_li_activeTabs2">
                    <a class={{activeTabs[1]}} href="javascript:void(0);" (click)="selectTab('drafts')" id="gameplan_a_drafts">
                        Drafts
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <section class="client-card-wrap">
        <div class="d-flex flex-column justify-center y-center gap-16 text-center cardEmpty" *ngIf="gameplansList && gameplansList.length == 0">
            <img src="../../../assets/images/empty.svg" alt="" class="icon-48 mx-auto"/>
            <div class="d-flex flex-column">
                <p class="text-dark text-para">
                    No Templates created yet.
                </p>
                <p class="text-dark text-para">
                    Start 
                    <a href="javascript:void(0);" title="" class="text-primary font-medium text-para">
                        Creating new one.
                    </a>
                </p>
            </div>
        </div>
        <div class="" *ngIf="gameplansList && gameplansList.length > 0">
            <ul class="grid-three-columns game-plan-card">
                <li class="d-flex flex-column justify-space gap-48 relative" *ngFor="let gameplans of gameplansList; let i=index">
                    <div class="d-flex flex-column gap-16">
                        <h3 class="font-medium">
                            {{gameplans.gamePlanName}}
                        </h3>
                        <!-- <p class="text-para text-white line-clamp-3">
                            {{gameplans.objective}}
                        </p> -->
                        <div>
                        <p id="objective-id-{{i}}" [class]="gameplans.objective && gameplans.objective.length >= 125 ? 'text-para text-white line-clamp-3 my-12 readmore-text' : 'text-para text-white line-clamp-3 my-12'" [innerHTML]="gameplans.objective | truncate: 125 | safeHtml">
                        </p>
                        <a title="" class="font-medium text-medium text-white dt-btn-link" *ngIf="gameplans.objective && gameplans.objective.length >= 125" (click)="exploreGamePlan(gameplans)">Read more</a>
                        </div>
                        <div class="d-flex flex-column gap-12">
                            <h3 class="text-medium text-primary-300">PreBuilt Programs</h3>
                            <ul class="d-flex flex-column gap-8">
                                <ng-container *ngFor="let template of gameplans.templatesInfo; let i=index">
                                    <li class="d-flex gap-8" *ngIf="i<3">
                                        <div class="">
                                            <img src="../../../assets/images/radio-unselected.svg" alt="" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <p class="text-white font-medium text-para">
                                                {{template.templateNames}}
                                            </p>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                            <a title="" class="dt-btn-link text-para font-medium text-white mt-12" *ngIf="gameplans.templatesInfo && gameplans.templatesInfo.length > 3" (click)="exploreGamePlan(gameplans)">
                                <span class="text-white">
                                    + {{gameplans.templatesInfo.length - 3}}
                                </span>
                                more programs
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-12 xy-center">
                        <button type="button" class="dt-btn-white-primary d-flex y-center gap-8 justify-center w-100-percent" (click)="exploreGamePlan(gameplans)">
                            <!-- <img src="../../../assets/images/blue-eye.svg" alt="" /> -->
                            <span class="text-para">
                                Explore the plan
                            </span>
                        </button>
                        <p class="text-small text-primary-300 font-medium">
                            Guided by Dropthought
                        </p>
                    </div>
                    <span class="ham-burger-icon d-flex xy-center bg-white">
                        <img src="../../../assets/images/ham-dots-blue.svg" alt="" />
                    </span>
                    <div class="card-shuffle"></div>
                </li>
            </ul>
        </div>
    </section>
</main>