/*Min-width to body to appear scroll on 1024*/

body{
	min-width: 1024px;
}

/*relative*/

.relative{
	position: relative;
}

/*Common Flex classes*/

.d-flex {
	display: flex;
}

.d-inline-block{
	display: inline-block !important;
}

.flex-flow-row {
	flex-flow: row wrap;
}

.flex-column{
	flex-direction: column !important;
}

.flex-flow-column {
	flex-flow: column wrap;
}

.justify-space {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end{
	justify-content: flex-end;
}

.align-item-end{
	align-items: flex-end;
}

.y-center {
	align-items: center;
}

.xy-center{
    align-items: center;
    justify-content: center;
}

.flex-50{
    flex: 0 0 50%;
}

.flex-1{
	flex:1;
}

.width-100{
	width:100%;
}
/*Alignment*/

.text-center{
	text-align: center !important;
}
/*Text transform*/
.text-uppercase{
	text-transform: uppercase !important;
}
/*Common Buttons*/

.button {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 9px 12px;
	font-size: 14px;
    color: #fff;
    box-shadow: none;
    border:0;
}

/*Word-break*/
.word-break{
	word-break: break-all;
}

/*Orange button*/

.button-orange {
	background-color: #EFA848 !important;
}


/*Blue button*/

.blue-button {
	background-color: #4C3794 !important;
}


/*red-button*/

.red-button {
	background-color: #CA404A !important;
}


/*Grey-button*/

.grey-button {
	background-color: #C8C9CA !important;
	color: #333437 !important;
}


/*Cancel button*/

.cancel-button, 
.bordered-button {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	padding: 8px 12px;
	color: #4C3794;
	font-size: 14px;
	line-height: 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border: 0;
}

.bordered-button{
	border:1px solid #EAEDF4;
	box-shadow: 0 2px 3px rgba(0, 0 , 0, 5%);
	padding:8px 12px;
	color:#4C3794;
	font-size: 15px;
}


/*header-actions-btn*/

.header-actions-wrap .cancel-button{
	margin-right:10px;
}


/*Common Alert*/

.alert-success,
.alert-danger {
	border: 1px solid #B3E5DA;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #E6F6F3;
	padding: 16px;
	color: #006550;
	font-size: 16px;
	line-height: 24px;
}

.alert-danger {
	border: 1px solid #FECBCE;
	background-color: #FFEEEF;
	color: #CA404A;
}

.alert-danger strong,
.alert-success strong {
	font-size: 16px;
	line-height: 24px;
	color: #006550;
}


/*CS-Portal-alerts*/
.alerts-wrap{
	position: fixed;
	top:5%;
	left:0;
	right:0;
	margin: auto;
	max-width:80%;
	z-index:6;
}
.alerts{
	width:auto;
	padding:10px 16px;
	background-color: transparent;
	border:1px solid transparent;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	font-size: 16px;
	color:#006550;
}

.alerts.success{
	min-width:350px;
	width:auto;
	background-color: #E6F6F3 !important;
	border-color:#B3E5DA !important;
	opacity: 0;
}

.alerts.success.visible{
	opacity: 1;
}

.alerts.success >svg{
	min-width: 12px;
}

.alerts.alerts.success > svg path,
.alerts.success >svg rect{
	stroke:rgba(0, 101, 80, .5);
}

.alerts svg{
	margin-left:60px;
	cursor: pointer;
}

/*Danger*/
.alerts.danger{
	background-color: #FFEEEF !important;
	border-color:#FECBCE !important;
	color:#CA404A !important;
}

/*Danger icon*/
.danger-alert{
	width:16px;
	height:16px;
	background:url(../images/alert@2x.png) no-repeat center;
	background-size: cover;
	margin-right:6px;
	min-width: 16px;
}

.aside-alert{
	padding:6px;
	font-size: 13px;
	margin-top:10px;
	min-width: 175px;
	max-width: 175px;
}

.aside-alert-count{
	margin-left:6px;
}


/*Common Popup*/

.overlay {
	background-color: rgba(255, 255, 255, 0.78);
	/* border: 1px solid #707070; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 7;
}

/*Warning*/
.alerts.warning{
	background-color: #fffaeb !important;
	border-color:#fff3ca !important;
	color:#9e8428 !important;
}

.position-normal{
	position: initial !important;
	max-width: 100%;
}

.position-normal .alerts{
	width:100%;
	padding:8px;
	font-size: 14px;
}

.modal-popup-wrapper{
    height: 100%;
}

.modal-popup-wrap {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	flex-direction: column;
	width: auto;
	height: auto;
	max-height:calc(100% - 20px);
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.popup-header,
.popup-footer{
    padding: 32px 40px;
}

/* .popup-footer{
	min-height:60px;
	height:60px;
} */

.popup-header > h2{
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.popup-close{
	width: 14px;
	height:14px;
	position: absolute;
	top:24px;
	right:24px;
	z-index:4;
}

.popup-body-wrap{
	height: 100%;
	background: transparent;
	overflow: auto;
	padding: 0 40px;
}

.modal-popup-wrap > a.underline{
	color: #4C3794;
	text-decoration: underline !important;
}

/*Toggle Switch*/

.toggle-wrap {
	display: inline-block;
}

.checkbox-label {
	display: block;
	background-color: #DCDFE3;
	height: 14px;
	width: 35px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	position: relative;
	margin: 0 30px;
	cursor: pointer;
}

.checkbox-label .on,
.checkbox-label .off {
	display: block;
	position: absolute;
	z-index: 0;
	color: #777;
	top: 0;
	opacity: 1;
	font-weight: 600;
}

.checkbox-label .on {
	right: -25px;
}

.checkbox-label .off {
	right: 45px;
	text-align: right;
	opacity: 1;
}

.checkbox-label:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: -4px;
	left: -1px;
	border-radius: 50px;
	height: 20px;
	width: 20px;
	background-color: #ECECF2;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.checkbox:checked+.checkbox-label {
	background-color: #c7bbe9;
}

.checkbox:checked+.checkbox-label .on {
	color: #6f5ba7;
}

.checkbox:checked + .checkbox-label span{
    font-weight: 600;
}

.checkbox+.checkbox-label .off {
	color: #6f5ba7;
}

.checkbox:checked+.checkbox-label .off {
	color: #777;
}

.checkbox:checked+.checkbox-label:before {
	left: 15px;
	background-color: #6f5ba7;
}

/*Hippa checkbox*/

.checkbox-label-hippa {
	display: block;
	background-color: #DCDFE3;
	height: 14px;
	width: 35px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	position: relative;
	margin: 0 30px;
	cursor: pointer;
}

.checkbox-label-hippa .on,
.checkbox-label-hippa .off {
	display: block;
	position: absolute;
	z-index: 0;
	color: #777;
	top: 0;
	opacity: 1;
	font-weight: 600;
}

.checkbox-label-hippa .on {
	right: -25px;
}

.checkbox-label-hippa .off {
	right: 45px;
	text-align: right;
	opacity: 1;
}

.checkbox-label-hippa:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: -4px;
	left: -1px;
	border-radius: 50px;
	height: 20px;
	width: 20px;
	background-color: #ECECF2;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.checkbox-hippa:checked+.checkbox-label-hippa {
	background-color: #c7bbe9;
}

.checkbox-hippa:checked+.checkbox-label-hippa .on {
	color: #6f5ba7;
}

.checkbox-hippa:checked + .checkbox-label-hippa span{
    font-weight: 600;
}

.checkbox-hippa+.checkbox-label-hippa .off {
	color: #6f5ba7;
}

.checkbox-hippa:checked+.checkbox-label-hippa .off {
	color: #777;
}

.checkbox-hippa:checked+.checkbox-label-hippa:before {
	left: 15px;
	background-color: #6f5ba7;
}

/*Checkbox*/

.cs-checkbox{
	position: relative;
	display: block;
	padding:6px 0;
}

.cs-checkbox span,
.cs-radio .radio-btn span{
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

.cs-checkbox span:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    background: url(../images/checkbox-uncheck.svg) center top no-repeat;
    background-size: 100% 100%;
}

.cs-checkbox > input:checked + span:after {
    background: url(../images/checkbox-checked.svg) center top no-repeat;
    background-size: 100% 100%;
}

.cs-checkbox input:disabled + span::after{
	background-image: url(../images/checkbox-uncheck.svg) !important;
}

.cs-radio .radio-btn input:disabled + span:before{
	border-color: #c1c1c1 !important;
}
.cs-checkbox input:disabled + span,
.cs-radio input:disabled + span,
.cs-radio .radio-btn input:disabled + span:before{
	color: #c1c1c1 !important;
	cursor: not-allowed !important;
}
/*Radio-btn*/

.cs-radio .radio-btn input:checked + span:before {
    border-color: #4B3693;
}

.cs-radio .radio-btn span:before {
    width: 13px;
    height: 13px;
    border: 1px solid #1F1F1F;
    left: 0;
	top: 0;
}

.cs-radio .radio-btn span:after {
    width: 7px;
    height: 7px;
    left: 4px;
    top: 4px;
    background-color: #4B3693;
	opacity: 0;
}

.cs-radio .radio-btn span:after, .cs-radio .radio-btn span:before {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.cs-radio .radio-btn .radio:checked + span:after {
    opacity: 1;
}

.cs-radio .radio-btn input:checked + span:after {
	opacity: 1;
	}

.cs-radio .radio-btn span{
	display: inline-block;
	padding-bottom: 8px;
	}

/*Enabled and Disanled text*/

.enabled,
.disabled{
	font-size: 11px;
	line-height: 22px;
	color:#868686;
	white-space: nowrap;
}

.enabled-icon,
.disabled-icon{
	width:8px;
	height:6px;
	background: url(../images/tick.svg) no-repeat center;
	background-size: cover;
	margin-right:4px;
	display: inline-block;
}

.disabled-icon{
	background: url(../images/close.svg);
	background-size: cover;
	height:8px;
}

.disabled-li .settings-categories-list > label,
.disabled-li .enabled.disabled,
.disabled-li *,
.disabled-li li::before,
.disabled-li li{
	color:#ECECEC !important;
}

.disabled-li .disabled-icon{
	background: url(../images/disabled-close.svg) center;
	background-size: cover;
}


/*Form-group*/

.form-group>label {
	font-size: 13px;
	color: #000000;
	line-height: 16px;
	font-weight: 600;
	display: block;
	margin-bottom: 6px;
}

.form-group>input, .account-fields .form-group input {
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	padding: 10px 18px 8px 12px;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	width:100%;
}

.form-group>small,
.alert-text {
	font-size: 13px;
	line-height: 17px;
	color: #868686;
}

.form-group>small {
	display: block;
	margin-top: 3px;
}

.alert-text {
	color: #CA404A !important;
}

.form-group-sub-drop > input{
	background: url(../images/down-arrow.svg) no-repeat 98% 16px;
}

.form-group-sub-drop > select{
	appearance:none;
	background: url(../images/down-arrow.svg) no-repeat 98% 16px;
}
.form-group>select {
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	padding: 10px 12px 8px 12px;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	width:100%;
}

.form-group-sub-drop{
	position: relative;
}

.dropdown-form,
.dropdown-menu-filter{
	position: absolute;
	top:100%;
	left:0;
	right:0;
	background-color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding:12px;
	border:1px solid #E2E2E2;
	z-index:1;
}
.top-input-relative{
	top:67px !important;
}
/*Limitations and Usage*/

.limitation-usage-wrap {
	display: inline-block;
}

.limitation-label {
	color: #232334;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 3px;
	display: block;
	position: relative;
}

.limitation-label > sup{
	position: absolute;
	top: -7px;
    right: -10px;
}

.limitation-bar {
	width: 190px;
	height: 4px;
	background-color: #EBEBEB;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	margin-bottom: 0;
	position: relative;
	min-width: 190px;
	margin-bottom: 3px;
}

.limitation-bar::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	min-width: 50%;
	background-color: transparent;
}

.limitation-bar.danger::before {
	background-color: #CA404A !important;
}

.limitation-bar.blue::before {
	background-color: #6F59A9 !important;
}

.limitation-status {
	font-size: 13px;
	color: #868686;
}

.limitation-status .limitation-count,
.limitation-label-usage {
	font-weight: 600;
}


/*Input*/

input::placeholder {
	color: #535252;
	font-size: 14px;
	line-height: 17px;
}

input::-moz-placeholder {
	color: #535252;
	font-size: 14px;
	line-height: 17px;
}

input::-ms-placeholder {
	color: #535252;
	font-size: 14px;
	line-height: 17px;
}

input::-o-placeholder {
	color: #535252;
	font-size: 14px;
	line-height: 17px;
}

input::-webkit-placeholder {
	color: #535252;
	font-size: 14px;
	line-height: 17px;
}

input.calendar {
	padding: 8px 16px 8px 34px !important;
	background: url(../images/calendar.svg) no-repeat 6px 6px;
	background-size: 20px;
	border: 1px solid #e2e2e2;
}

input[type="number"]{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #DFDFDF;
    background-color: #fff;
    padding:8px 12px;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="number"]::placeholder{
    color:#d4cfcf !important;
}


/*Textarea*/

textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    color: rgba(0,0,0,.5);
    width: 100%;
    min-height: 64px;
    padding: 8px 12px;
    resize: vertical;
}

textarea::placeholder,
.text-area-counts{
	color: rgba(0,0,0,.5);
	font-size: 14px;
}

.text-area-counts{
	position: absolute;
	top:0;
	right:0;
}

/*Aside navigation style's*/

.sidebar {
	background-color: #4c3794;
	width: 65px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px 12px;
	flex-direction: column;
	height: 100%;
	z-index: 5;
}

.dt-logo {
	width: 28px;
	height: 28px;
	display: block;
	margin: 0 auto;
}

.nav {
	padding: 26px 0 0;
}

.nav li {
	margin-bottom: 16px;
	position: relative;
}

.nav li a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	line-height: 1.2;
	font-weight: 500;
}

.nav-desc {
	position: absolute;
	left: 42px;
	top: 10px;
	font-weight: 500;
	padding: 0px;
	text-transform: capitalize;
	font-size: 0px;
	color: #1f344a;
	display: inline-block;
	border: 0.5px solid #ebebeb;
	background-color: #efeffc;
	border-radius: 3px;
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 1;
}

.nav li a:hover .nav-desc {
	opacity: 1;
	font-size: 12px;
	padding: 2px 7px;
	white-space: nowrap;
}

.nav li a.active,
.nav li a:hover {
	background-color: rgba(255, 255, 255, 0.21);
}

.survey-icon,
.template-icon {
	background: url(../images/clients-icon.svg) center top no-repeat;
	/* background: url(/portal/src/assets/clients-icon.svg) center top no-repeat; */
    width: 20px;
    height: 22px;
    background-size: 20px;
    opacity: .5;
}

.nav > li a:hover i{
	opacity: 1;
}

.account-icon {
	background: url(../images/icon-account.svg) center top no-repeat;
	width: 21px;
	height: 21px;
}
.customtheme-icon{
	background: url(../images/theme.svg) center top no-repeat !important;
}
.template-icon{
	background: url(../images/templates.svg) center top no-repeat !important;
}
.help-icon {
	background: url(../images/icon-help.svg) center top no-repeat;
	width: 21px;
	height: 21px;
}
.nav li a.active .help-icon, 
.nav li a:hover .help-icon{
	background: url(../images/icon-help-active.svg) center top no-repeat;
}

.account-nav {
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.toggle-menu {
	position: fixed;
	left: 15px;
	top: 0;
	border: none;
	border-radius: 2px;
	background-color: #4c3794;
	padding: 2px;
	width: 40px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 4;
}

.toggle-menu span {
	display: block;
	height: 2px;
	background-color: #fff;
	margin: 5px 0;
}


/*====Account and Language Dropdown=====*/

.profile-dropdown {
	position: absolute;
	left: 100%;
	width: 8rem;
	top: -100%;
	background: #fff !important;
	/* border: 1px solid #c1c1c1; */
	border-radius: 8px;
	-webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
	-moz-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
	opacity: 0;
	visibility: hidden;
	padding:4px 0;
}

.profile-dropdown li {
	line-height: 1.5em;
	margin-bottom: 0;
}

.profile-dropdown li a {
	text-align: left;
	padding: 8px 12px !important;
	display: block;
	width: auto;
	height: auto;
	font-size: 16px;
	color: #7457D0;
	white-space: nowrap;
	text-align: center;
}

/* .profile-dropdown li a:hover {
	background-color: #F5F5F9;
	border-radius: 8px !important;
} */

.profile-dropdown li.logout {
	border-top: 1px solid #e6e6f3;
}

.profile-dropdown.languageDropdown {
	width: auto !important;
	opacity: 1;
	visibility: visible;
	top: -100%;
}

.profile-dropdown li a.disabled {
	color: #A4A4A4;
	cursor: not-allowed;
	pointer-events: none;
}

.profile-dropdown.accountDropdown {
	width: 12rem;
	opacity: 1;
	visibility: visible;
	top: -400%;
}


/*====Other Dropdowns=====*/

.page-dropdown {
	position: absolute;
	top: 70%;
	left: auto;
	right: 0;
	z-index: 10;
	opacity: 1;
	visibility: visible;
	background: #fff;
	border-radius: 3px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}

.page-dropdown li {
	line-height: 1.5em;
	margin-bottom: 0;
	width: auto
}

.page-dropdown li a {
	line-height: 1.5em;
	margin-bottom: 0;
	text-align: left;
	padding: 10px 0;
	display: block;
	width: 9em;
	height: auto;
	font-size: 16px;
	color: #535252;
	text-align: center;
}

.page-dropdown li a:hover {
	background-color: #F5F5F9;
}


/*Breadcrumbs*/

.page-header{
    padding-bottom: 30px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding:32px 32px 0 98px;
    background-color: #fff;
    z-index: 4;
}

.breadcrumbs-newtask-wrap{
    margin-bottom:20px
}

.breadcrumbs li a {
	color: #4C3794;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
}

.breadcrumbs li:not(:last-child) {
	margin-right: 40px;
	position: relative;
}

.breadcrumbs li:not(:last-child)::after {
	position: absolute;
	content: '';
	box-sizing: border-box;
	height: 10px;
	width: 10px;
	border-style: solid;
	border-color: #060105;
	border-width: 0px 2px 2px 0px;
	top: 43%;
	right: -25px;
	transform: rotate(316deg) translateY(-50%);
	-webkit-transform: rotate(316deg) translateY(-50%);
	-moz-transform: rotate(316deg) translateY(-50%);
	-ms-transform: rotate(316deg) translateY(-50%);
	-o-transform: rotate(316deg) translateY(-50%);
}

.breadcrumbs li a.active {
	color: #060105;
	font-size: 24px;
	line-height: 29px;
	cursor: default;
}



/*Pagination*/

.pagination-wrap{
    width:100%;
    height:auto;
    border-bottom:1px solid #ccc;
}

.pagination-ul{
    padding-bottom:2px;
}

.pagination-ul,
.pagination-ul > li,
.pagination-ul > li a{
	min-height: 36px;
}

.pagination-ul > li a{
	align-items: center;
	display: flex;
}

.pagination-ul li:not(:last-child){
    margin-right:50px;
}

.pagination-ul li a{
    color:#BDC4C9;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    position: relative;
    padding:0 5px;
}

.pagination-ul li a:hover,
.pagination-ul li a.active{
    color:#4C3794;
}

.pagination-wrap li a.active::after,
.pagination-wrap li a:hover::after{
    position: absolute;
    content: '';
    width:100%;
    height:2px;
    bottom: -2px;
    left:0;
    background-color: #4C3794;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

/*CS Search*/
.cs-search-wrap > input[type="search"]{
	min-width: 320px;
	padding:6px 8px 6px 32px;
	border:1px solid #E2E2E2;
	border-radius: 4px;
	font-size: 14px;
}

.cs-search-wrap > input[type="search"]:focus,
.cs-search-wrap > input[type="search"]:visited,
.cs-search-wrap > input[type="search"]:focus-within{
	border-color: #9C8FC4;
    box-shadow: 0 0 0 4px rgba(75, 54, 148, 0.25);
}

.cs-search-wrap .input-search-icon{
	position: absolute;
	left: 8px;
    transform: translateY(-50%);
    top: 46%;
}

/*Tooltip*/

.tooltip{
    position: relative !important;
}

/* .tooltiptext{
	visibility: hidden;
	background-color: #494A4F;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	padding: 5px 10px;
	min-width: 100px;
	max-width: 200px;
	width:auto;
	font-size: 13px;
	line-height: 19px;
	bottom: 140%;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
}

.tooltiptext::before{
	border: solid;
    border-color: #494A4F transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 45%;
    bottom: -12px;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} */

/*Second Type*/
.tooltip .right{
    min-width: auto;
    max-width: 200px;
    left: 50%;
    top: auto;
    margin-top: 0;
    margin-left: 0;
    transform: translateX(-50%);
    padding: 7px 12px;
    color: #EEEEEE;
    background-color: #444444;
    font-weight: normal;
    font-size: 13px;
    border-radius: 3px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	bottom: 135%;
    text-align: center;
}

.tooltip .tooltiptext{
	padding: 7px 12px;
}

.tooltip .right i{
    position: absolute;
    top: auto;
    right: 0;
    margin-top: 0;
    width: 12px;
    height: 24px;
    overflow: hidden;
	bottom: -17px;
	left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg);
    -o-transform: translateX(-50%) rotate(-90deg);
}

.tooltip .right i::after{
	content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%,-50%) rotate(-45deg);
    background-color: #444444;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}

/* .model-hover.tooltip .ellipsis-para + .right{
	top:100%;
	bottom:auto;
	margin-top:10px;
}

.model-hover.tooltip .ellipsis-para + .right i{
	top:-17px;
	bottom: auto;
	transform: translateX(-50%) rotate(90deg);
	-webkit-transform: translateX(-50%) rotate(90deg);
	-moz-transform: translateX(-50%) rotate(90deg);
	-ms-transform: translateX(-50%) rotate(90deg);
	-o-transform: translateX(-50%) rotate(90deg);
} */
/* .model-hover.tooltip .ellipsis-para:hover + .right */

.infinity-symbol-wrap.tooltip:hover .right{
	visibility: visible;
	opacity: 1;
}

.show-more{
	display: none;
	white-space: normal;
}

.moreless-button{
	color:#6F59A9;
	text-decoration: underline;
	font-weight: 700;
}


/*Main-content*/

.main-content {
	width: calc(100% - 65px);
	height: auto;
	margin-left: 65px;
	padding: 0 32px;
    background-color: #fff;
    margin-top:143px;
    height:auto;
}

/*main-content-outer-wrap*/
.main-content-outer-wrap{
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
	border: 1px solid #EBEBEB;
	width:100%;
	height:auto;
	padding:25px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	margin-bottom:36px;
}


/*Access Settings Page common style*/

.page-subtitle{
    font-size:22px;
    color:#232334;
    line-height: 16px;
    font-weight: 500;
}

.page-subtitle{
    padding-bottom:36px;
}

/*Client profile page*/

.section-title-capitalize{
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color:#868686;
	text-transform: uppercase;
}

/*Months remaining*/

.month-remaining > span{
	font-size: 28px;
	font-weight: 600;
	color: #232334;
	line-height: 26px;
	margin-right:8px;
}

.month-remaining label{
	font-size: 14px;
	color: #232334;
	line-height: 18px;
}

.total-duration{
	color:#868686;
}

.accordion-body-wrap .per-month{
	font-size: 11px;
	color:#868686;
}

/*Popup title text's*/

.popup-subtitle-text{
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.add-client-popup{
	border-right:1px solid #ECECEC;
	padding:20px 32px 20px 0;
}

.months-duration{
	background-color: #F5F5F7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding:14px 16px;
}

.king-profile-client-card .client-status.active{
	font-size: 15px;
	font-weight: 600;
}

.Ham-dots{
	width:4px;
	height:16px;
	background: url(../images/ham-dots.svg) no-repeat center;
	background-size: cover;
	min-width: 4px;
}

.ham-dropper-wrap{
	background-color: #fff;
	border:1px solid #DEDEDE;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
	position: absolute;
	top:0;
	right:10px;
	min-width: 185px;
	height:auto;
}

.ham-dropper-wrap > li a{
	padding:8px 16px;
	font-size: 15px;
	color:#060105;
	transition: .3s all ease-in;
	-webkit-transition: .3s all ease-in;
	-moz-transition: .3s all ease-in;
	-ms-transition: .3s all ease-in;
	-o-transition: .3s all ease-in;
}

.ham-dropper-wrap > li:hover a{
	background-color:transparent;
}

.ham-dropper-wrap li a svg{
	margin-right:9px;
}

/*Ellisps*/
.text-ellipsis{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*Pagination*/
.programs-pagination{
	color: #060105;
    font-size: 14px;
    padding: 0px 5px;
    margin-left: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    height: 28px;
}

.left-arrow-icon,
.right-arrow-icon{
	width: 15px;
    height: 15px;
    color: #7b797a;
    background: url(../images/icon-left-arrow.svg) center top no-repeat;
	margin-top: 3px;
	cursor: pointer;
}

.programs-pagination span{
	padding: 0px 7px;
}

.right-arrow-icon{
	background: url(../images/icon-right-arrow.svg) center top no-repeat;
}

.y-center-permonth{
	margin-top:9px
}

.limitation-bar{
	display: none;
}


/* .limitation-status{
	display: none;
} */

.aside-alert{
	display: none;
}

.maximum-limit-alert .limitation-ip-number-wrap > input[type="number"]{
	border-color:#da8489;
}

.maximum-limit-alert .aside-alert{
	display: flex;
}

.blus-color-plus{
	width: 12px;
    height: 12px;
    margin-right: 6px;
}

/*Tabel*/
table{
	width:100%;
	table-layout: fixed; 
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: #fff;
	border:1px solid #EDEEEF;
}

.tabel-header tr th{
	background-color: #F7F8FA;
	padding:12px 16px;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	color:#3A3A5C;
}

.tabel-content{
	height:100%;
}

.tabel-content table{
	background-color: #fff !important;
}

.tabel-content tr td{
	padding:24px 16px;
}

.tabel-content tr:not(:last-child){
	border-bottom:1px solid #EDEEEF;
}

/*Datepicker*/
.d-date-wrap .ui-datepicker .ui-datepicker-next span {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 13px solid #4a3692;
}
  
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #4a3692;
	margin-left: 0;
	top:0;
	margin-top: 0;
	left:0;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	background-image: none;
}

.ui-datepicker .ui-datepicker-next span {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}  

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{
	border: none !important;
	background: transparent !important;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{
	transform: translateY(-60%) !important;
	-webkit-transform: translateY(-60%) !important;
	-moz-transform: translateY(-60%) !important;
	-ms-transform: translateY(-60%) !important;
	-o-transform: translateY(-60%) !important;
	top:65% !important;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 65% !important;
	right:2px !important;
}

.ui-datepicker .ui-datepicker-prev-hover{
	right:auto !important;
	left:2px !important
}

.button-dropdown.show-results-wrap{
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #DEDEDE;
	box-shadow: 0 2px 10px rgb(0 0 0 / 16%);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding:10px 12px;
}

.show-results-foo{
	margin-top: 15px;
}

.show-results-foo .close-modal{
	font-size: 16px;
    color: #4C3794;
}

.show-results-foo :is(.close-modal, button[type="submit"]){
	padding:6px 12px;
}

.show-results-item-wrap .show-results-item:not(:last-child) {
    padding-right: 20px;
}

.show-results-item-wrap .show-results-item > span.text-center {
    margin-bottom: 8px;
}

/*Custom scroll*/

.custom-scroll{
	overflow-y: scroll !important;
	min-height: 50px !important;
	height:auto;
	/* scrollbar-width: thin;
	scrollbar-color: #e3e3e3 transparent; 	 	 */
}

.custom-scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.spinner {
	position: fixed;
	z-index: 999;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 100px;
}

 /*DTV-5324 popup style*/
 .tagged-response-tool .client-card-title{
	margin:16px 0 9px 0;
}
.tagged-response-tool .survey-wrap > ul > li{
	padding:10px 12px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	cursor: pointer;
}
.tagged-response-tool .survey-wrap > ul > li .cs-checkbox{
	padding:0;
}
.tagged-response-tool .survey-wrap > ul > li:hover{
	background-color:#F7F8FA;
}
.tagged-response-tool .popup-body-wrap{
	overflow: initial;
}
.tagged-response-tool .survey-wrap > ul{
	overflow: auto;
	height: calc(100% - 180px);
	max-height: calc(100vh - 280px);
}
/*Border&Border-radius*/
.border {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #E1E4EB !important;
  }
  .border.border-dark {
	border-color: #6C727C !important;
  }
  
  .border-top {
	border-top-style: solid !important;
	border-top-width: 1px !important;
	border-top-color: #E1E4EB !important;
  }
  .border-top.border-dark {
	border-top-color: #6C727C !important;
  }
  
  .border-right {
	border-right-style: solid !important;
	border-right-width: 1px !important;
	border-right-color: #E1E4EB !important;
  }
  .border-right.border-dark {
	border-right-color: #6C727C !important;
  }
  
  .border-bottom {
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #E1E4EB !important;
  }
  .border-bottom.border-dark {
	border-bottom-color: #6C727C !important;
  }
  
  .border-left {
	border-left-style: solid !important;
	border-left-width: 1px !important;
	border-left-color: #E1E4EB !important;
  }
  .border-left.border-dark {
	border-left-color: #6C727C !important;
  }
  
  .border-0 {
	border: none !important;
  }
  
  .border-radius {
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	border-radius: 4px !important;
  }

  .border-radius-20 {
	-moz-border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
	-ms-border-radius: 20px !important;
	-o-border-radius: 20px !important;
	border-radius: 20px !important;
  }
  
  .border-radius-circle {
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-ms-border-radius: 50% !important;
	-o-border-radius: 50% !important;
	border-radius: 50% !important;
  }
  
  .border-radius-none {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
  }
  
  .border-radius-tl {
	-moz-border-top-left-radius: 4px !important;
	-webkit-border-top-left-radius: 4px !important;
	-ms-border-top-left-radius: 4px !important;
	-o-border-top-left-radius: 4px !important;
	border-top-left-radius: 4px !important;
  }
  
  .border-radius-tr {
	-moz-border-top-right-radius: 4px !important;
	-webkit-border-top-right-radius: 4px !important;
	-ms-border-top-right-radius: 4px !important;
	-o-border-top-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
  }
  
  .border-radius-bl {
	-moz-border-bottom-left-radius: 4px !important;
	-webkit-border-bottom-left-radius: 4px !important;
	-ms-border-bottom-left-radius: 4px !important;
	-o-border-bottom-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
  }
  
  .border-radius-br {
	-moz-border-bottom-right-radius: 4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-ms-border-bottom-right-radius: 4px !important;
	-o-border-bottom-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
  }
/*Spacing*/
.m-0 {
	margin: 0px !important;
  }
  
  .m-4 {
	margin: 4px !important;
  }
  
  .m-8 {
	margin: 8px !important;
  }
  
  .m-12 {
	margin: 12px !important;
  }
  
  .m-16 {
	margin: 16px !important;
  }
  
  .m-20 {
	margin: 20px !important;
  }
  
  .m-24 {
	margin: 24px !important;
  }
  
  .m-32 {
	margin: 32px !important;
  }
  
  .m-40 {
	margin: 40px !important;
  }
  
  .m-48 {
	margin: 48px !important;
  }
  
  .m-25-percent {
	margin: 25% !important;
  }
  
  .m-50-percent {
	margin: 50% !important;
  }
  
  .m-100-percent {
	margin: 100% !important;
  }
  
  .mx-0 {
	margin-left: 0px !important;
	margin-right: 0px !important;
  }
  
  .mx-4 {
	margin-left: 4px !important;
	margin-right: 4px !important;
  }
  
  .mx-8 {
	margin-left: 8px !important;
	margin-right: 8px !important;
  }
  
  .mx-12 {
	margin-left: 12px !important;
	margin-right: 12px !important;
  }
  
  .mx-16 {
	margin-left: 16px !important;
	margin-right: 16px !important;
  }
  
  .mx-20 {
	margin-left: 20px !important;
	margin-right: 20px !important;
  }
  
  .mx-24 {
	margin-left: 24px !important;
	margin-right: 24px !important;
  }
  
  .mx-32 {
	margin-left: 32px !important;
	margin-right: 32px !important;
  }
  
  .mx-40 {
	margin-left: 40px !important;
	margin-right: 40px !important;
  }
  
  .mx-48 {
	margin-left: 48px !important;
	margin-right: 48px !important;
  }
  
  .mx-25-percent {
	margin-left: 25% !important;
	margin-right: 25% !important;
  }
  
  .mx-50-percent {
	margin-left: 50% !important;
	margin-right: 50% !important;
  }
  
  .mx-100-percent {
	margin-left: 100% !important;
	margin-right: 100% !important;
  }
  
  .mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
  }
  
  .my-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
  }
  
  .my-4 {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
  }
  
  .my-8 {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
  }
  
  .my-16 {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
  }
  
  .my-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
  }
  
  .my-24 {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
  }
  
  .my-32 {
	margin-top: 32px !important;
	margin-bottom: 32px !important;
  }
  
  .my-40 {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
  }
  
  .my-48 {
	margin-top: 48px !important;
	margin-bottom: 48px !important;
  }
  
  .my-25-percent {
	margin-top: 25% !important;
	margin-bottom: 25% !important;
  }
  
  .my-50-percent {
	margin-top: 25% !important;
	margin-bottom: 25% !important;
  }
  
  .my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
  }
  
  .mt-0 {
	margin-top: 0px !important;
  }
  
  .mt-4 {
	margin-top: 4px !important;
  }
  
  .mt-8 {
	margin-top: 8px !important;
  }
  
  .mt-12 {
	margin-top: 12px !important;
  }
  
  .mt-16 {
	margin-top: 16px !important;
  }
  
  .mt-18 {
	margin-top: 18px !important;
  }
  
  .mt-20 {
	margin-top: 20px !important;
  }
  
  .mt-24 {
	margin-top: 24px !important;
  }
  
  .mt-32 {
	margin-top: 32px !important;
  }
  
  .mt-40 {
	margin-top: 40px !important;
  }
  
  .mt-48 {
	margin-top: 48px !important;
  }
  
  .mt-25-percent {
	margin-top: 25% !important;
  }
  
  .mt-50-percent {
	margin-top: 50% !important;
  }
  
  .mt-100-percent {
	margin-top: 100% !important;
  }
  
  .mt-auto {
	margin-top: auto !important;
  }
  
  .mb-0 {
	margin-bottom: 0px !important;
  }
  
  .mb-4 {
	margin-bottom: 4px !important;
  }
  
  .mb-8 {
	margin-bottom: 8px !important;
  }
  
  .mb-12 {
	margin-bottom: 12px !important;
  }
  
  .mb-16 {
	margin-bottom: 16px !important;
  }
  
  .mb-20 {
	margin-bottom: 20px !important;
  }
  
  .mb-24 {
	margin-bottom: 24px !important;
  }
  
  .mb-32 {
	margin-bottom: 32px !important;
  }
  
  .mb-40 {
	margin-bottom: 40px !important;
  }
  
  .mb-48 {
	margin-bottom: 48px !important;
  }
  
  .mb-25-percent {
	margin-bottom: 25% !important;
  }
  
  .mb-50-percent {
	margin-bottom: 50% !important;
  }
  
  .mb-100-percent {
	margin-bottom: 100% !important;
  }
  
  .mb-auto {
	margin-bottom: auto !important;
  }
  
  .ml-0 {
	margin-left: 0px !important;
  }
  
  .ml-4 {
	margin-left: 4px !important;
  }
  
  .ml-8 {
	margin-left: 8px !important;
  }
  
  .ml-12 {
	margin-left: 12px !important;
  }
  
  .ml-16 {
	margin-left: 16px !important;
  }
  
  .ml-20 {
	margin-left: 20px !important;
  }
  
  .ml-24 {
	margin-left: 24px !important;
  }
  
  .ml-32 {
	margin-left: 32px !important;
  }
  
  .ml-40 {
	margin-left: 40px !important;
  }
  
  .ml-48 {
	margin-left: 48px !important;
  }
  
  .ml-25-percent {
	margin-left: 25% !important;
  }
  
  .ml-50-percent {
	margin-left: 50% !important;
  }
  
  .ml-100-percent {
	margin-left: 100% !important;
  }
  
  .ml-auto {
	margin-left: auto !important;
  }
  
  .mr-0 {
	margin-right: 0px !important;
  }
  
  .mr-4 {
	margin-right: 4px !important;
  }
  
  .mr-8 {
	margin-right: 8px !important;
  }
  
  .mr-12 {
	margin-right: 12px !important;
  }
  
  .mr-16 {
	margin-right: 16px !important;
  }
  
  .mr-20 {
	margin-right: 20px !important;
  }
  
  .mr-24 {
	margin-right: 24px !important;
  }
  
  .mr-32 {
	margin-right: 32px !important;
  }
  
  .mr-40 {
	margin-right: 40px !important;
  }
  
  .mr-48 {
	margin-right: 48px !important;
  }
  
  .mr-25-percent {
	margin-right: 25% !important;
  }
  
  .mr-50-percent {
	margin-right: 50% !important;
  }
  
  .mr-100-percent {
	margin-right: 100% !important;
  }
  
  .mr-auto {
	margin-right: auto !important;
  }
  
  .p-0 {
	padding: 0px !important;
  }
  
  .p-4 {
	padding: 4px !important;
  }
  
  .p-8 {
	padding: 8px !important;
  }
  
  .p-12 {
	padding: 12px !important;
  }
  
  .p-16 {
	padding: 16px !important;
  }
  
  .p-20 {
	padding: 20px !important;
  }
  
  .p-24 {
	padding: 24px !important;
  }
  
  .p-32 {
	padding: 32px !important;
  }
  
  .p-40 {
	padding: 40px !important;
  }
  
  .p-48 {
	padding: 48px !important;
  }
  
  .p-25-percent {
	padding: 25% !important;
  }
  
  .p-50-percent {
	padding: 50% !important;
  }
  
  .p-100-percent {
	padding: 100% !important;
  }
  
  .px-0 {
	padding-left: 0px !important;
	padding-right: 0px !important;
  }
  
  .px-4 {
	padding-left: 4px !important;
	padding-right: 4px !important;
  }
  
  .px-8 {
	padding-left: 8px !important;
	padding-right: 8px !important;
  }
  
  .px-12 {
	padding-left: 12px !important;
	padding-right: 12px !important;
  }
  
  .px-16 {
	padding-left: 16px !important;
	padding-right: 16px !important;
  }
  
  .px-20 {
	padding-left: 16px !important;
	padding-right: 16px !important;
  }
  
  .px-24 {
	padding-left: 24px !important;
	padding-right: 24px !important;
  }
  
  .px-32 {
	padding-left: 32px !important;
	padding-right: 32px !important;
  }
  
  .px-40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
  }
  
  .px-48 {
	padding-left: 48px !important;
	padding-right: 48px !important;
  }
  
  .px-25-percent {
	padding-left: 25% !important;
	padding-right: 25% !important;
  }
  
  .px-50-percent {
	padding-left: 50% !important;
	padding-right: 50% !important;
  }
  
  .px-100-percent {
	padding-left: 100% !important;
	padding-right: 100% !important;
  }
  
  .py-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
  }
  
  .py-4 {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
  }
  
  .py-8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
  }
  
  .py-12 {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
  }
  
  .py-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
  }
  
  .py-20 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
  }
  
  .py-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
  }
  
  .py-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important;
  }
  
  .py-40 {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
  }
  
  .py-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important;
  }
  
  .py-25-percent {
	padding-top: 25% !important;
	padding-bottom: 25% !important;
  }
  
  .py-50-percent {
	padding-top: 50% !important;
	padding-bottom: 50% !important;
  }
  
  .py-100-percent {
	padding-top: 100% !important;
	padding-bottom: 100% !important;
  }
  
  .pt-0 {
	padding-top: 0px !important;
  }
  
  .pt-4 {
	padding-top: 4px !important;
  }
  
  .pt-8 {
	padding-top: 8px !important;
  }
  
  .pt-12 {
	padding-top: 12px !important;
  }
  
  .pt-16 {
	padding-top: 16px !important;
  }
  
  .pt-20 {
	padding-top: 20px !important;
  }
  
  .pt-24 {
	padding-top: 24px !important;
  }
  
  .pt-32 {
	padding-top: 32px !important;
  }
  
  .pt-40 {
	padding-top: 40px !important;
  }
  
  .pt-48 {
	padding-top: 48px !important;
  }
  
  .pt-25-percent {
	padding-top: 25% !important;
  }
  
  .pt-50-percent {
	padding-top: 50% !important;
  }
  
  .pt-100-percent {
	padding-top: 100% !important;
  }
  
  .pb-0 {
	padding-bottom: 0px !important;
  }
  
  .pb-4 {
	padding-bottom: 4px !important;
  }
  
  .pb-8 {
	padding-bottom: 8px !important;
  }
  
  .pb-12 {
	padding-bottom: 12px !important;
  }
  
  .pb-16 {
	padding-bottom: 16px !important;
  }
  
  .pb-20 {
	padding-bottom: 20px !important;
  }
  
  .pb-24 {
	padding-bottom: 24px !important;
  }
  
  .pb-32 {
	padding-bottom: 32px !important;
  }
  
  .pb-40 {
	padding-bottom: 40px !important;
  }
  
  .pb-48 {
	padding-bottom: 48px !important;
  }
  
  .pb-25-percent {
	padding-bottom: 25% !important;
  }
  
  .pb-50-percent {
	padding-bottom: 50% !important;
  }
  
  .pb-100-percent {
	padding-bottom: 100% !important;
  }
  
  .pl-0 {
	padding-left: 0px !important;
  }
  
  .pl-4 {
	padding-left: 4px !important;
  }
  
  .pl-8 {
	padding-left: 8px !important;
  }
  
  .pl-12 {
	padding-left: 12px !important;
  }
  
  .pl-16 {
	padding-left: 16px !important;
  }
  
  .pl-20 {
	padding-left: 20px !important;
  }
  
  .pl-24 {
	padding-left: 24px !important;
  }
  
  .pl-32 {
	padding-left: 32px !important;
  }
  
  .pl-40 {
	padding-left: 40px !important;
  }
  
  .pl-48 {
	padding-left: 48px !important;
  }
  
  .pl-25-percent {
	padding-left: 25% !important;
  }
  
  .pl-50-percent {
	padding-left: 50% !important;
  }
  
  .pl-100-percent {
	padding-left: 100% !important;
  }
  
  .pr-0 {
	padding-right: 0px !important;
  }
  
  .pr-4 {
	padding-right: 4px !important;
  }
  
  .pr-8 {
	padding-right: 8px !important;
  }
  
  .pr-12 {
	padding-right: 12px !important;
  }
  
  .pr-16 {
	padding-right: 16px !important;
  }
  
  .pr-20 {
	padding-right: 20px !important;
  }
  
  .pr-24 {
	padding-right: 24px !important;
  }
  
  .pr-32 {
	padding-right: 32px !important;
  }
  
  .pr-40 {
	padding-right: 40px !important;
  }
  
  .pr-48 {
	padding-right: 48px !important;
  }
  
  .pr-25-percent {
	padding-right: 25% !important;
  }
  
  .pr-50-percent {
	padding-right: 50% !important;
  }
  
  .pr-100-percent {
	padding-right: 100% !important;
  }
  .gap-0 {
	gap: 0px 0px;
  }
  
  .gap-4 {
	gap: 4px 4px;
  }
  
  .gap-8 {
	gap: 8px 8px;
  }
  
  .gap-12 {
	gap: 12px 12px;
  }
  
  .gap-16 {
	gap: 16px 16px;
  }
  
  .gap-20 {
	gap: 20px 20px;
  }
  
  .gap-24 {
	gap: 24px 24px;
  }
  
  .gap-32 {
	gap: 32px 32px;
  }
  
  .gap-40 {
	gap: 40px 40px;
  }
  
  .gap-48 {
	gap: 48px 48px;
  }
/*Typo*/
.text-bigger {
	font-size: 40px !important;
  }
  
  .text-big {
	font-size: 32px !important;
  }
  
  .text-exlarge {
	font-size: 22px !important;
  }
  
  .text-large {
	font-size: 18px !important;
  }
  
  .text-para {
	font-size: 16px !important;
  }
  
  .text-medium {
	font-size: 14px !important;
  }
  
  .text-small {
	font-size: 13px !important;
	line-height: 1;
  }
  
  .text-exsmall {
	font-size: 11px !important;
	line-height: 1;
  }
  
  .font-regular {
	font-weight: 400 !important;
  }
  
  .font-medium {
	font-weight: 600 !important;
  }
  
  .text-white {
	color: #fff !important;
  }
  
  .text-gray {
	color: #848A93 !important;
  }
  
  .text-primary {
	color: #7457D0 !important;
  }
  .text-primary-300{
	color: #C4BAE3 !important;
  }
  .text-danger{
	color: red;
  }
/*Text*/
.CS-gray-text{
	color: grey !important;
}
.bg-gray{
	background-color: #f5f7f9 !important;
}
.bg-gray-100 {
	background-color: #F7F8FA !important;
}
.bg-success-100 {
	background-color: #E6F6F3 !important;
}
.bg-white{
	background-color: #ffffff !important;
}
.list-style-numeric li {
	list-style-type: decimal;
}
.list-style-numeric.-disc li {
	list-style-type: disc;
}
/*Buttons*/
.dt-btn, .dt-dropdown-item {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: transparent;
	padding: 8px 12px;
	margin: 0;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background-color: #AEB3BE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	height: 32px;
  }
  .dt-btn > *, .dt-dropdown-item > * {
	display: inline-block;
	vertical-align: middle;
  }
  .dt-btn:hover, .dt-dropdown-item:hover {
	background-color: #C7CAD1;
	color: #fff;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) ;
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) ;
	-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) ;
	-o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) ;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08) ;
  }
  .dt-btn:focus, .dt-dropdown-item:focus {
	color: #fff;
	-webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.24);
	-ms-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.24);
	-o-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.24);
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.24);
  }
  .dt-btn.inactive, .dt-btn.dt-disabled, .dt-btn:disabled, .dt-dropdown-item.inactive, .dt-dropdown-item.dt-disabled, .dt-dropdown-item:disabled {
	background-color: #C7CAD1;
	cursor: not-allowed;
	color: #fff;
  }
  .dt-btn.inactive:hover, .dt-btn.dt-disabled:hover, .dt-btn:disabled:hover, .dt-dropdown-item.inactive:hover, .dt-dropdown-item.dt-disabled:hover, .dt-dropdown-item:disabled:hover {
	background-color: #C7CAD1;
	color: #fff;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08) ;
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08) ;
	-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08) ;
	-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08) ;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.08) ;
  }
  
  .dt-btn-lg {
	padding: 8px 20px;
	font-size: 18px;
	height: 40px;
  }
  
  .dt-btn-sm {
	padding: 4px 8px;
	font-size: 14px;
	height: 28px;
  }
  
  .dt-btn-bordered {
	-webkit-box-shadow: 0 0 0 1px #F0F1F5;
	-moz-box-shadow: 0 0 0 1px #F0F1F5;
	-ms-box-shadow: 0 0 0 1px #F0F1F5;
	-o-box-shadow: 0 0 0 1px #F0F1F5;
	box-shadow: 0 0 0 1px #F0F1F5;
  }
  
  .dt-btn-link {
	color: #4B3694;
	background-color: transparent;
	padding: 0;
	font-weight: 400;
	height: auto;
  }
  .dt-btn-link:hover, .dt-btn-link:hover > *:hover {
	background-color: transparent;
	color: #4B3694;
	text-decoration: underline;
	-webkit-box-shadow: 0 0 0 0 ;
	-moz-box-shadow: 0 0 0 0 ;
	-ms-box-shadow: 0 0 0 0 ;
	-o-box-shadow: 0 0 0 0 ;
	box-shadow: 0 0 0 0 ;
  }
  .dt-btn-link:focus {
	color: #4B3694;
	-webkit-box-shadow: 0 0 0 0 ;
	-moz-box-shadow: 0 0 0 0 ;
	-ms-box-shadow: 0 0 0 0 ;
	-o-box-shadow: 0 0 0 0 ;
	box-shadow: 0 0 0 0 ;
  }
  .dt-btn-link.inactive, .dt-btn-link.dt-disabled, .dt-btn-link:disabled {
	background-color: transparent;
	color: #C7CAD1;
	cursor: not-allowed;
  }
  .dt-btn-link.inactive:hover, .dt-btn-link.inactive:hover > *:hover, .dt-btn-link.dt-disabled:hover, .dt-btn-link.dt-disabled:hover > *:hover, .dt-btn-link:disabled:hover, .dt-btn-link:disabled:hover > *:hover {
	background-color: transparent;
	color: #C7CAD1;
	text-decoration: none;
  }
  
  .dt-btn-primary {
	color: #fff;
	background-color: #7457D0;
  }
  .dt-btn-primary.dt-btn-bordered {
	-webkit-box-shadow: 0 0 0 1px #7D739D;
	-moz-box-shadow: 0 0 0 1px #7D739D;
	-ms-box-shadow: 0 0 0 1px #7D739D;
	-o-box-shadow: 0 0 0 1px #7D739D;
	box-shadow: 0 0 0 1px #7D739D;
  }
  .dt-btn-primary:hover {
	background-color: #AFA2D9;
	color: #fff;
  }
  .dt-btn-primary:focus {
	-webkit-box-shadow: 0 0 0 4px rgba(75, 54, 148, 0.24);
	-moz-box-shadow: 0 0 0 4px rgba(75, 54, 148, 0.24);
	-ms-box-shadow: 0 0 0 4px rgba(75, 54, 148, 0.24);
	-o-box-shadow: 0 0 0 4px rgba(75, 54, 148, 0.24);
	box-shadow: 0 0 0 4px rgba(75, 54, 148, 0.24);
	color: #fff;
  }
  
  .dt-btn-secondary {
	color: #fff;
	background-color: #EFA848;
  }
  .dt-btn-secondary.dt-btn-bordered {
	-webkit-box-shadow: 0 0 0 1px #30210E;
	-moz-box-shadow: 0 0 0 1px #30210E;
	-ms-box-shadow: 0 0 0 1px #30210E;
	-o-box-shadow: 0 0 0 1px #30210E;
	box-shadow: 0 0 0 1px #30210E;
  }
  .dt-btn-secondary:hover {
	background-color: #F2B96C;
	color: #fff;
  }
  .dt-btn-secondary:focus {
	-webkit-box-shadow: 0 0 0 4px rgba(239, 168, 72, 0.24);
	-moz-box-shadow: 0 0 0 4px rgba(239, 168, 72, 0.24);
	-ms-box-shadow: 0 0 0 4px rgba(239, 168, 72, 0.24);
	-o-box-shadow: 0 0 0 4px rgba(239, 168, 72, 0.24);
	box-shadow: 0 0 0 4px rgba(239, 168, 72, 0.24);
	color: #fff;
  }
  
  .dt-btn-white {
	color: #4B3694;
	background-color: #fff;
	border: 1px solid #F0F1F5;
  }
  .dt-btn-white:hover {
	background-color: #F2EFFF;
	border-color: #F2EFFF;
	color: #4B3694;
  }
  .dt-btn-white:focus {
	-webkit-box-shadow: 0 0 0 4px #F2EFFF;
	-moz-box-shadow: 0 0 0 4px #F2EFFF;
	-ms-box-shadow: 0 0 0 4px #F2EFFF;
	-o-box-shadow: 0 0 0 4px #F2EFFF;
	box-shadow: 0 0 0 4px #F2EFFF;
	color: #4B3694;
  }
  
  .dt-btn-success {
	color: #fff;
	background-color: #00A985;
  }
  .dt-btn-success:hover {
	background-color: #80D4C2;
	color: #fff;
  }
  .dt-btn-success:focus {
	-webkit-box-shadow: 0 0 0 4px rgba(0, 169, 133, 0.24);
	-moz-box-shadow: 0 0 0 4px rgba(0, 169, 133, 0.24);
	-ms-box-shadow: 0 0 0 4px rgba(0, 169, 133, 0.24);
	-o-box-shadow: 0 0 0 4px rgba(0, 169, 133, 0.24);
	box-shadow: 0 0 0 4px rgba(0, 169, 133, 0.24);
	color: #fff;
  }
  
  .dt-btn-warning {
	color: #fff;
	background-color: #CA404A;
  }
  .dt-btn-warning:hover {
	background-color: #FC505C;
	color: #fff;
  }
  .dt-btn-warning:focus {
	-webkit-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	-moz-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	-ms-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	-o-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	color: #fff;
  }
  
  .dt-btn-danger {
	color: #fff;
	background-color: #CA404A;
  }
  .dt-btn-danger:hover {
	background-color: #FC505C;
	color: #fff;
  }
  .dt-btn-danger:focus {
	-webkit-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	-moz-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	-ms-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	-o-box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	box-shadow: 0 0 0 4px rgba(252, 80, 92, 0.24);
	color: #fff;
  }
  .dt-btn-danger.dt-btn-link, .dt-btn-danger.dt-btn-link:hover, .dt-btn-danger.dt-btn-link:hover > *:hover {
	color: #CA404A;
	background-color: transparent;
  }
  
  .dt-add-new-btn {
	color: #4B3694;
	background-color: #F2EFFF;
	padding: 2px 8px !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 600;
	border: none;
  }
  
  .dt-btn-group {
	display: flex;
	gap: 2px;
  }
  .dt-btn-group .dt-btn:not(:last-child):not(.dt-dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  .dt-btn-group .dt-btn:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  
  .dt-dropdown {
	position: relative;
  }
  .dt-dropdown .dt-dropdown-menu {
	position: absolute;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	top: 100%;
	left: 0;
	right: auto;
	z-index: 9999;
	background: #fff;
	padding: 12px 0;
	width: max-content !important;
	box-shadow: 0 12px 64px rgba(0, 0, 0, 0.16);
  }
  .dt-dropdown .dt-dropdown-menu.dt-dropdown-menu-right {
	left: auto;
	right: 0;
  }
  .dt-dropdown .dt-dropdown-menu.dt-dropdown-menu-top {
	top: auto;
	bottom: 100%;
  }
  .dt-dropdown .dt-dropdown-menu.dt-dropdown-menu-top-right {
	top: auto;
	bottom: 100%;
	right: 0;
	left: auto;
  }
  .dt-dropdown .dt-dropdown-menu .dt-dropdown-item {
	text-align: initial;
	width: 100%;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
	color: #000000;
	font-weight: 400;
	white-space: normal;
	height: auto;
	padding: 8px 16px;
  }
  .dt-dropdown .dt-dropdown-menu .dt-dropdown-item:hover {
	background-color: #F2EFFF;
  }
  .dt-dropdown .dt-dropdown-menu .dt-dropdown-item.dt-dropdown-item-delete:hover {
	background-color: #FFEEEF !important;
  }
  
  .dt-btn-create {
	position: relative;
  }
  .dt-btn-create .dt-create-hint {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	font-weight: 400;
	font-size: 14px;
	color: #2B2D33;
	padding: 4px 12px;
	white-space: nowrap;
	background-color: #F2EFFF;
	z-index: 1;
	opacity: 0;
	margin-right: -4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	-o-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	-webkit-transform: translate(0px, -50%);
	-moz-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	-o-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
  }
  .dt-btn-create:hover .dt-create-hint {
	opacity: 1;
	right: 100%;
  }
  
  .dt-btn-icon {
	width: 28px;
	height: 28px;
	font-size: 18px;
	line-height: 1;
	padding: 4px;
	background-color: transparent;
	text-align: center;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
  }
  .dt-btn-icon [class^="dtic-"], .dt-btn-icon [class*="dtic-"] {
	color: #7457D0;
  }
  .dt-btn-icon.dt-btn-sm {
	width: 20px;
	height: 20px;
	font-size: 13px;
  }
  .dt-btn-icon.dt-btn-lg {
	width: 32px;
	height: 32px;
	font-size: 22px;
  }
  .dt-btn-icon.dt-btn-xl {
	width: 40px;
	height: 40px;
	font-size: 32px;
  }
  .dt-btn-icon:hover {
	background-color: #F2EFFF;
  }
  .dt-btn-icon.inactive, .dt-btn-icon.dt-disabled, .dt-btn-icon:disabled {
	cursor: not-allowed;
  }
  .dt-btn-icon.inactive [class^="dtic-"], .dt-btn-icon.inactive [class*="dtic-"], .dt-btn-icon.dt-disabled [class^="dtic-"], .dt-btn-icon.dt-disabled [class*="dtic-"], .dt-btn-icon:disabled [class^="dtic-"], .dt-btn-icon:disabled [class*="dtic-"] {
	color: #C7CAD1;
  }
  .dt-btn-icon.inactive:hover, .dt-btn-icon.dt-disabled:hover, .dt-btn-icon:disabled:hover {
	background-color: #F7F8FA;
  }
  .dt-btn-icon.sup {
	top: -16px;
  }
  .dt-btn-icon.sup-sm {
	top: -8px;
  }
  
  .dt-btn-add-icon {
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #4B3694;
	border-radius: 50%;
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
	z-index: 2;
	margin: 0;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16) ;
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16) ;
	-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16) ;
	-o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16) ;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16) ;
  }
  .dt-btn-add-icon:hover {
	background-color: #7457D0;
  }
  
  .dt-btn-block {
	width: 100%;
  }
  
  .dt-btn-rounded {
	-moz-border-radius: 40px !important;
	-webkit-border-radius: 40px !important;
	-ms-border-radius: 40px !important;
	-o-border-radius: 40px !important;
	border-radius: 40px !important;
  }
  
  .vertical-button [class^="dtic-"], .vertical-button [class*="dtic-"] {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
  }
  .dt-btn-white-primary{
	padding: 8px 16px !important;
	color: #7457D0;
	border-radius: 8px;
	background-color: #fff;
	border:0;
	font-weight: 600;
  }
  .advanced-btn{
	padding:4px 8px;
	background-color: #9C8FC4;
	border-radius: 20px;
	color:#fff;
	border: 0;
  }
  .advancedTopminus{
	margin-top:-28px;
	border:0 !important
  }
/*Shadows*/
.box-shadow-dark{
	box-shadow: -7px 3px 25px 1px rgba(0,0,0,0.62);
	-webkit-box-shadow: -7px 3px 25px 1px rgba(0,0,0,0.62);
	-moz-box-shadow: -7px 3px 25px 1px rgba(0,0,0,0.62);
}
.box-shadow-lte{
	box-shadow: -7px 3px 25px 1px rgba(0,0,0,0.62);
	-webkit-box-shadow: -7px 3px 25px 1px rgba(0,0,0,0.62);
	-moz-box-shadow: -7px 3px 25px 1px rgba(0,0,0,0.62);
}

/*Width*/
.w-100-percent{
	width: 100% !important;
}
.w-65-percent{
	width: 65%;
}
.h-100-percent{
	height: 100% !important;
}
.w-40{
	width: 40px !important;
	min-width: 40px !important;
}
.h-40{
	height: 40px !important;
}
.flex-1-75{
	flex: 1 75%;
	width: 75%;
}
.flex-1-25{
	flex: 1 25%;
	width: 25%;
}
/*Icon*/
.icon-48{
	width: 48px;
}
/*Grid for columns*/
.dt-grid-3fr{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-column-gap: 28px;
    grid-row-gap: 20px;
}

.dt-grid-auto{
	display: grid;
	grid-template-columns: repeat(auto-fill, 190px);
	grid-column-gap: 48px;
	grid-row-gap: 24px;
}

/*Font-size*/
.CS-small-text{
	font-size: 13px !important;
	line-height: 1;
}
.text-dark {
	color: #000000 !important;
}
.text-ellisps {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.no-border > li,
.settings-categories-ul li .no-border li{
	border: 0 !important;
}

/*Table center classes*/
.display-table{
    display: table !important;
}
.display-tab-cell{
    display: table-cell;
    vertical-align: middle;
}

/*Sticky-Header*/
.sticky-header{
	height:calc(100vh - 70px);
	top:70px;
	overflow: auto;
}
.sticky-header .header-sticky{
	position: fixed;
	top:0;
	left:0;
	right: 0;
	padding:0 32px;
	height: 70px;
	background-color: white;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/*Preview Header style*/
.previewing-devices > ul > li::after{
    width: 100%;
    height: 0;
    background-color: #4a3894;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.previewing-devices > ul > li.active::after,
.previewing-devices > ul > li:hover::after{
    height: 2px;
}
.previewing-devices > ul > li > a{
    height: 100%;
    min-width: 75px;
}
.previewing-devices > ul > li.active,
.previewing-devices > ul > li:hover{
    background-color: #EBEBF5;
}
.previewing-devices > ul > li.active span,
.previewing-devices > ul > li:hover span{
	display: block !important;
	text-transform: uppercase;
}
.previewing-devices > ul > li:hover svg path,
.previewing-devices > ul > li.active svg path{
	fill: #4B3694 !important;
}
.previewing-devices > ul > li span{
	position: absolute;
	bottom: 4px;
}
.preveiew-area-container{
	z-index: 1;
}
/*Ojar Dark Theme*/
.ojar-theme-dark{
	background: url(../themes/ojar/images/BG.png) no-repeat center center fixed;
	background-size: cover;
}
/* .ojar-theme-dark .preveiew-area-container *{
	color: #ffffff !important;
} */
/* .bg-overlay{
	width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
} */
.ojar-dark-firstpage{
	max-width: 60%;
	margin:0 auto;
}

/*Ipad and mobile mockup*/
.devices-wrap{
	display: grid;
}
.dt-desktop{
	height: calc(100% - 3%);
}
.dt-desktop iframe{
	width: 100vw;
}
.dt-ipad-device, .dt-mobile-device {
	position: relative;
	margin: 0 auto;
	-webkit-box-shadow: 20px 20px 78px 8px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 20px 20px 78px 8px rgba(0, 0, 0, 0.11);
	-ms-box-shadow: 20px 20px 78px 8px rgba(0, 0, 0, 0.11);
	box-shadow: 20px 20px 78px 8px rgba(0, 0, 0, 0.11);
	background-color: #fff;
	border-width: 12px 46px 12px 30px;
	width: 1024px;
	height: 645px;
	box-sizing: content-box;
	top: 0;
	border-style: solid;
	border-color: #5f5f5f;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: border-width .3s,transform .3s,width .3s,height .3s;
	-moz-transition: border-width .3s,transform .3s,width .3s,height .3s;
	-ms-transition: border-width .3s,transform .3s,width .3s,height .3s;
	transition: border-width .3s,transform .3s,width .3s,height .3s;
  }
.dt-ipad-device::before,
.dt-ipad-device::after,
.dt-mobile-device::before,
.dt-mobile-device::after{
	position: absolute;
	content: '';
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 50%;
}
.dt-ipad-device::before,
.dt-mobile-device::before{
	left: -13px;
	background: #828282;
	width: 1%;
	height: 0;
	padding-top: 1%;
}
.dt-ipad-device::after,
.dt-mobile-device::after{
	bottom: auto;
	left: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #404040;
	width: 38px;
	height: 38px;
	right: -61px;
	content: '\2680';
	text-align: center;
	color: #fff;
	font-size: 28px;
}
.dt-ipad-device.dt-mobile-device,
.dt-mobile-device.dt-mobile-device{
	width: 375px;
	height: 667px;
	border-width: 46px 12px 52px 12px !important;
}
.dt-ipad-device.dt-mobile-device::before,
.dt-mobile-device.dt-mobile-device::before{
	left: 50%;
	top: -20px;
}
.dt-ipad-device.dt-mobile-device::after,
.dt-mobile-device.dt-mobile-device::after{
	left: 50%;
	top: auto;
	bottom: -63px;
}
.cs-pills{
	padding:4px 8px;
	border-radius: 25px;
	background-color: #f3efff;
	color:#000;
	font-size: 14px;
}
/*Browse file*/
.file-upload {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 400px;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}
.file-name {
	flex-grow: 1;
	border: none;
	padding: 8px 12px;
	font-size: 14px;
	color: #333;
} 
.file-input {
	display: none;
} 
.file-btn {
	background-color: #4B3694 !important;;
	color: white;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}
.file-btn:hover {
	background-color: #4B3694 !important;
}
/*Game Plans*/
.plus-fill{
	width: 18px;
	height: 18px;
	min-width: 18px;
	border-radius: 50%;
	/* background: #fff url(../images/Plus-blue-color.svg) no-repeat center;
	background-size: cover; */
}
.cardEmpty{
	height: calc(100vh - 120px);
	margin-top:125px;
}
/*Grid three columns*/
.grid-three-columns{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 40px), 1fr));
    grid-gap: 40px;
}
.grid-four-columns{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 40px), 1fr));
    grid-gap: 40px;
}
/*Line-clamp*/
.line-clamp-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
  }


/*Media*/
@media screen and (max-width:1260px) {
	.template-plan-card{
		grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 40px), 1fr)) !important;
	}
}

@media screen and (max-width:1024px) {
	.gameplansCardPortal .grid-three-columns{
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 40px), 1fr)) !important;
	}
}