@font-face {
    font-family: 'dtfonticon';
    src:  url('../fonts/fonticons/dtfonticon.eot?t6pfl6');
    src:  url('../fonts/fonticons/dtfonticon.eot?t6pfl6#iefix') format('embedded-opentype'),
          url('../fonts/fonticons/dtfonticon.ttf?t6pfl6') format('truetype'),
          url('../fonts/fonticons/dtfonticon.woff?t6pfl6') format('woff'),
          url('../fonts/fonticons/dtfonticon.svg?t6pfl6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="dtic-"], [class*="dtic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dtfonticon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    background-image: none !important;
    /* color: $primary-500; */
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .dtic-enlarge:before {
    content: "\e1193";
  }
  .dtic-audio:before {
    content: "\f1040";
  }
  .dtic-empty:before {
    content: "\e1096";
  }
  .dtic-action-plan:before {
    content: "\f1287";
  }
  .dtic-unsorted:before {
    content: "\f1111";
  }
  .dtic-undo:before {
    content: "\f1110";
  }
  .dtic-send-invitation:before {
    content: "\f1021";
  }
  .dtic-poll:before {
    content: "\f1241";
  }
  .dtic-play:before {
    content: "\e1070";
  }
  .dtic-check-circle-selected:before {
    content: "\e1237";
  }
  .dtic-cross-circle:before {
    content: "\e1069";
  }
  .dtic-add-image:before {
    content: "\e1150";
  }
  .dtic-translations:before {
    content: "\e1122";
  }
  .dtic-picture-choice:before {
    content: "\f1240";
  }
  .dtic-document:before {
    content: "\e1147";
  }
  .dtic-image:before {
    content: "\e1148";
  }
  .dtic-image-multiple:before {
    content: "\e1149";
  }
  .dtic-user-tag:before {
    content: "\f1020";
  }
  .dtic-matrix-choice:before {
    content: "\e1269";
  }
  .dtic-multiple-open-ended:before {
    content: "\e1257";
  }
  .dtic-user-cancel:before {
    content: "\e1020";
  }
  .dtic-seat:before {
    content: "\f1019";
  }
  .dtic-whatsApp:before {
    content: "\e1268";
  }
  .dtic-matrix-rating:before {
    content: "\e1267";
  }
  .dtic-dropdown:before {
    content: "\e1256";
  }
  .dtic-display-logic:before {
    content: "\e1119";
  }
  .dtic-thumb-rating:before {
    content: "\e1255";
  }
  .dtic-cloud-upload:before {
    content: "\e1095";
  }
  .dtic-hierarchy:before {
    content: "\e1154";
  }
  .dtic-ranking:before {
    content: "\e1250";
  }
  .dtic-scale-rating:before {
    content: "\e1249";
  }
  .dtic-upload:before {
    content: "\e1094";
  }
  .dtic-integrations:before {
    content: "\f1285";
  }
  .dtic-draft-response:before {
    content: "\e1146";
  }
  .dtic-multiple-questions:before {
    content: "\e1165";
  }
  .dtic-single-question:before {
    content: "\e1164";
  }
  .dtic-sort-down:before {
    content: "\e1117";
  }
  .dtic-sort-up:before {
    content: "\e1118";
  }
  .dtic-mobile:before {
    content: "\e1303";
  }
  .dtic-tablet:before {
    content: "\e1302";
  
  }
  .dtic-desktop:before {
    content: "\e1301";
  
  }
  .dtic-star-fill:before {
    content: "\e1184";
  
  }
  .dtic-star-stroke:before {
    content: "\e1183";
  
  }
  .dtic-time:before {
    content: "\e1132";
  
  }
  .dtic-program-hide:before {
    content: "\e1083";
  
  }
  .dtic-add-multi-users:before {
    content: "\e1014";
  
  }
  .dtic-add-user:before {
    content: "\e1013";
  
  }
  .dtic-angle-down:before {
    content: "\e1044";
  
  }
  .dtic-angle-left:before {
    content: "\e1041";
  
  }
  .dtic-angle-right:before {
    content: "\e1042";
  
  }
  .dtic-angle-thin-down:before {
    content: "\e1048";
  
  }
  .dtic-angle-thin-left:before {
    content: "\e1045";
  
  }
  .dtic-angle-thin-right:before {
    content: "\e1046";
  
  }
  .dtic-angle-thin-up:before {
    content: "\e1047";
  
  }
  .dtic-angle-up:before {
    content: "\e1043";
  
  }
  .dtic-arrow-down:before {
    content: "\e1054";
  
  }
  .dtic-arrow-left:before {
    content: "\e1051";
  
  }
  .dtic-arrow-right:before {
    content: "\e1052";
  
  }
  .dtic-arrow-thin-down:before {
    content: "\e1058";
  
  }
  .dtic-arrow-thin-left:before {
    content: "\e1055";
  
  }
  .dtic-arrow-thin-right:before {
    content: "\e1056";
  
  }
  .dtic-arrow-thin-up:before {
    content: "\e1057";
  
  }
  .dtic-arrow-up:before {
    content: "\e1053";
  
  }
  .dtic-check-stroke-thin:before {
    content: "\e1068";
  
  }
  .dtic-check-stroke:before {
    content: "\e1067";
  
  }
  .dtic-cross-thin:before {
    content: "\e1066";
  
  }
  .dtic-cross:before {
    content: "\e1065";
  
  }
  .dtic-filter-settings:before {
    content: "\e1072";
  
  }
  .dtic-filter:before {
    content: "\e1071";
  
  }
  .dtic-hide:before {
    content: "\e1082";
  
  }
  .dtic-minus-fill-box:before {
    content: "\e1006";
  
  }
  .dtic-minus-fill:before {
    content: "\e1002";
  
  }
  .dtic-minus-stroke:before {
    content: "\e1004";
  
  }
  .dtic-multi-user-access:before {
    content: "\f1015";
  
  }
  .dtic-user-circle:before {
    content: "\f1016";
  
  }
  .dtic-thumb-down:before {
    content: "\f1018";
  }
  .dtic-thumb-up:before {
    content: "\f1017";
  }
  .dtic-multi-users-settings:before {
    content: "\e1018";
  
  }
  .dtic-multi-users:before {
    content: "\e1012";
  
  }
  .dtic-plus-fill-box:before {
    content: "\e1005";
  
  }
  .dtic-plus-fill:before {
    content: "\e1001";
  
  }
  .dtic-plus-stroke:before {
    content: "\e1003";
  
  }
  .dtic-pointer-down:before {
    content: "\e1064";
  
  }
  .dtic-pointer-left:before {
    content: "\e1061";
  
  }
  .dtic-pointer-right:before {
    content: "\e1062";
  
  }
  .dtic-pointer-up:before {
    content: "\e1063";
  
  }
  .dtic-preview:before {
    content: "\e1081";
  
  }
  .dtic-professional:before {
    content: "\f1013";
  
  }
  .dtic-remove-multi-users:before {
    content: "\e1016";
  
  }
  .dtic-remove-user:before {
    content: "\e1015";
  
  }
  .dtic-save:before {
    content: "\e1021";
  
  }
  .dtic-setup:before {
    content: "\e1031";
  
  }
  .dtic-trash:before {
    content: "\e1022";
  
  }
  .dtic-user-access:before {
    content: "\f1014";
  
  }
  .dtic-user-info:before {
    content: "\e1019";
  
  }
  .dtic-user-reset:before {
    content: "\f1011";
  
  }
  .dtic-user-settings:before {
    content: "\e1017";
  
  }
  .dtic-user-success:before {
    content: "\f1012";
  
  }
  .dtic-user:before {
    content: "\e1011";
  
  }
  .dtic-account:before {
    content: "\f1282";
  
  }
  .dtic-add-list:before {
    content: "\e1163";
  
  }
  .dtic-anonymous:before {
    content: "\e1201";
  
  }
  .dtic-arrange-center:before {
    content: "\f1275";
  
  }
  .dtic-arrange-left:before {
    content: "\f1274";
  
  }
  .dtic-arrange-right:before {
    content: "\f1276";
  
  }
  .dtic-bar-graph:before {
    content: "\e1121";
  
  }
  .dtic-bold:before {
    content: "\f1272";
  
  }
  .dtic-bookmark:before {
    content: "\e1145";
  
  }
  .dtic-box-download:before {
    content: "\e1093";
  
  }
  .dtic-building:before {
    content: "\e1102";
  
  }
  .dtic-text-chat:before {
    content: "\e1103";
  }
  .dtic-bullet-list:before {
    content: "\e1279";
  
  }
  .dtic-calendar:before {
    content: "\e1235";
  
  }
  .dtic-camera:before {
    content: "\e1194";
  
  }
  .dtic-check-notes:before {
    content: "\e1144";
  
  }
  .dtic-check-selected:before {
    content: "\e1234";
  
  }
  .dtic-check-unselected:before {
    content: "\e1233";
  
  }
  .dtic-cloud-download:before {
    content: "\e1092";
  
  }
  .dtic-contacts:before {
    content: "\e1284";
  
  }
  .dtic-detective-hat:before {
    content: "\e1203";
  
  }
  .dtic-distribution:before {
    content: "\e1285";
  
  }
  .dtic-do-not-disturb:before {
    content: "\e1222";
  
  }
  .dtic-download:before {
    content: "\e1091";
  
  }
  .dtic-drag:before {
    content: "\e1173";
  
  }
  .dtic-duplicate:before {
    content: "\e1141";
  
  }
  .dtic-edit:before {
    content: "\e1142";
  
  }
  .dtic-facebook:before {
    content: "\e1293";
  
  }
  .dtic-grid:before {
    content: "\e1161";
  
  }
  .dtic-heart-fill:before {
    content: "\e1182";
  
  }
  .dtic-heart-stroke:before {
    content: "\e1181";
  
  }
  .dtic-help-fill:before {
    content: "\e1252";
  
  }
  .dtic-help:before {
    content: "\e1251";
  
  }
  .dtic-html-code:before {
    content: "\e1275";
  
  }
  .dtic-infinity:before {
    content: "\e1204";
  
  }
  .dtic-info:before {
    content: "\e1253";
  
  }
  .dtic-insights:before {
    content: "\e1288";
  
  }
  .dtic-italic:before {
    content: "\f1273";
  
  }
  .dtic-kiosk:before {
    content: "\e1265";
  
  }
  .dtic-language:before {
    content: "\f1281";
  
  }
  .dtic-link:before {
    content: "\e1151";
  
  }
  .dtic-linked-in:before {
    content: "\e1291";
  
  }
  .dtic-list:before {
    content: "\e1162";
  
  }
  .dtic-lock:before {
    content: "\e1221";
  
  }
  .dtic-logic:before {
    content: "\e1112";
  
  }
  .dtic-long-text:before {
    content: "\e1247";
  
  }
  .dtic-mail:before {
    content: "\e1262";
  
  }
  .dtic-maximize:before {
    content: "\e1191";
  
  }
  .dtic-menu-horizontal:before {
    content: "\e1172";
  
  }
  .dtic-menu:before {
    content: "\e1171";
  
  }
  .dtic-minimize:before {
    content: "\e1192";
  
  }
  .dtic-move:before {
    content: "\e1174";
  
  }
  .dtic-multi-programs:before {
    content: "\e1282";
  
  }
  .dtic-multiple-choice:before {
    content: "\e1242";
  
  }
  .dtic-new-doc:before {
    content: "\e1143";
  
  }
  .dtic-new-window:before {
    content: "\e1152";
  
  }
  .dtic-non-anonymous:before {
    content: "\e1202";
  
  }
  .dtic-nps-question:before {
    content: "\e1244";
  
  }
  .dtic-numbered-list:before {
    content: "\f1271";
  
  }
  .dtic-open-ended:before {
    content: "\e1243";
  
  }
  .dtic-paragraph:before {
    content: "\f1277";
  
  }
  .dtic-phone:before {
    content: "\e1101";
  
  }
  .dtic-playbooks:before {
    content: "\e1289";
  
  }
  .dtic-power-fill:before {
    content: "\e1212";
  
  }
  .dtic-power-stroke:before {
    content: "\e1211";
  
  }
  .dtic-programs:before {
    content: "\e1281";
  
  }
  .dtic-qr-code:before {
    content: "\e1264";
  
  }
  .dtic-quote:before {
    content: "\e1276";
  
  }
  .dtic-radio-selected:before {
    content: "\e1232";
  
  }
  .dtic-radio-unselected:before {
    content: "\e1231";
  
  }
  .dtic-rating-question:before {
    content: "\e1241";
  
  }
  .dtic-refresh:before {
    content: "\e1114";
  
  }
  .dtic-sdk:before {
    content: "\e1266";
  
  }
  .dtic-search:before {
    content: "\e1236";
  
  }
  .dtic-settings:before {
    content: "\f1283";
  
  }
  .dtic-share:before {
    content: "\e1153";
  
  }
  .dtic-shareable-link:before {
    content: "\e1263";
  
  }
  .dtic-short-text:before {
    content: "\e1248";
  
  }
  .dtic-slider-question:before {
    content: "\e1246";
  
  }
  .dtic-smiley-question:before {
    content: "\e1245";
  
  }
  .dtic-sms:before {
    content: "\e1261";
  
  }
  .dtic-strikethrough:before {
    content: "\e1277";
  
  }
  .dtic-templates:before {
    content: "\e1283";
  
  }
  .dtic-text-center:before {
    content: "\e1272";
  
  }
  .dtic-text-field:before {
    content: "\f1278";
  
  }
  .dtic-text-justify:before {
    content: "\e1274";
  
  }
  .dtic-text-left:before {
    content: "\e1271";
  
  }
  .dtic-text-right:before {
    content: "\e1273";
  
  }
  .dtic-text-selection:before {
    content: "\f1279";
  
  }
  .dtic-theme:before {
    content: "\e1111";
  
  }
  .dtic-toggle:before {
    content: "\e1131";
  
  }
  .dtic-transfer:before {
    content: "\e1113";
  
  }
  .dtic-triggers:before {
    content: "\e1287";
  
  }
  .dtic-twitter:before {
    content: "\e1292";
  
  }
  .dtic-underline:before {
    content: "\e1278";
  
  }
  .dtic-user-management:before {
    content: "\e1286";
  
  }
  .dtic-warning:before {
    content: "\e1254";
  
  }
  .dtic-world-time:before {
    content: "\e1133";
  
  }
  .dtic-reload:before {
    content: "\e1115";
  }
  .dtic-reorder:before {
    content: "\e1116";
  }
  .dtic-global-respodents:before {
    content: "\f1284";
  }
  .dtic-result-responses:before {
    content: "\e1401";
  }
  .dtic-result-metadata:before {
    content: "\e1404";
  }
  .dtic-result-metrics:before {
    content: "\e1403";
  }
  .dtic-result-questions:before {
    content: "\e1402";
  }
  