*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:14px;
    line-height: normal;
}
button{
    font-family: proxima-nova, sans-serif !important;
}
a{
    text-decoration: none;
    color: inherit;
}

ol,li{
    list-style-type: none;
}

img{
    border:0;
}

input[type="checkbox"],
input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
}

.cursor-pointer{
    cursor: pointer !important;
}

.cursor-default{
    cursor: initial !important;
}

/*Index page style starts*/
/*Header*/
.create-new > a{
    width: 39px;
    height: 39px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.27);
    background-color: #4C3794;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.create-new > a > img{
    width:16px;
    height:16px;
}

.create-new span {
    display: inline-block;
    position: absolute;
    right: -100px;
    top: 38px;
    font-weight: 500;
    font-size: 14px;
    color: #1F344A;
    padding: 5px 13px;
    white-space: nowrap;
    background-color: #efeffb;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.create-new a:hover + span {
    opacity: 1;
    right: 65px;
}

.add-new-client-wrap{
    padding:86px 0;
    text-align: center;
    width:100%;
    height:auto;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

.add-new-client-text > i{
    color:#818080;
    font-size: 14px;
    line-height: 17px;
    display: block;
    padding-bottom:17px;
}

.add-new-client-text a.button > img{
    width:10px;
    height:10px;
}

.add-new-client-text a.button{
    padding: 9px 20px;
}


/*Client card Page*/

.client-card-item{
    padding:24px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color:#fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

.client-card-image,
.client-detail-image{
    min-width: 50px;
    width:50px;
    height:50px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: block;
    margin-right:16px;
}

.client-card-image > img{
    max-height:50px;
    max-width: 100%;
}

.client-card-title{
    color:rgba(76, 55, 148, 1);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom:2px;
}

.client-card-details > p{
    color:#868686;
    font-size: 10px;
    line-height: 13px;
}

.client-card-details .client-name{
    text-decoration: underline;
    margin-right:3px;
}

.client-dte-time{
    font-weight: 500;
}


/*Access settings Page Style starts*/

.settings-wrap{
    padding-right: 50px;
}

.toggle-categories:not(:last-child){
    padding-bottom:50px;
}

.toggle-categories-title{
    color:#232334;
    font-size:16px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 8px;
}

.toggle-categories-title > img{
    width:22px;
    height:22px;
    padding-right:8px;
}

.settings-categories-ul li{
    padding:16px 5px;
}

.settings-categories-ul li:not(:last-child),
.plans-ul > li:not(:last-child),
.surveys-types > li:not(:last-child){
    border-bottom:1px solid #ccc !important;
}

.settings-categories-ul li.disabled-li{
    border-bottom:1px solid #ECECEC;
}

.settings-categories-list > label,
.progressbar-title > label{
    font-size:15px;
    color:#232334;
    line-height: 21px;
}

.text-analytics-rundata{
    margin-top:5px;
    font-size: 13px;
}

/*Limitations*/

.limitations-wrap .page-subtitle{
    padding-bottom:21px;
}

.settings-categories-ul.feature-access li{
    padding:14px 4px;
}

.limitation-ip-number-wrap{
    position: relative;
}

/* .limitation-ip-number-wrap::before,
.limitation-ip-number-wrap::after{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(123, 121, 121, .3);
    top:10px;
    left:auto;
    right:10px;
    position: absolute;
    content: '';
    cursor:pointer;
}

.limitation-ip-number-wrap::after{
    top:auto;
    bottom:9px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
} */

.infinity-symbol-wrap{
    width:35px;
    height:35px;
    margin-right:16px;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    background: url(../images/infinity-deactive.svg) no-repeat center;
    background-size: 20px;
    cursor:pointer;
    background-color:#fff;
    transition: background-color 700ms linear,color 700ms linear;
    -webkit-transition: background-color 700ms linear,color 700ms linear;
    -moz-transition: background-color 700ms linear,color 700ms linear;
    -ms-transition: background-color 700ms linear,color 700ms linear;
    -o-transition: background-color 700ms linear,color 700ms linear;
}

.infinity-symbol-wrap:hover{
    background : url(../images/infinity-active.svg) no-repeat center;
    background-size: 20px;
    background-color:  rgba(76, 55, 148, 1) !important;
}

.infinity-symbol-wrap-active{
    background : url(../images/infinity-active.svg) no-repeat center;
    background-size: 20px;
    background-color:  rgba(76, 55, 148, 1) !important;
}


.per-month{
    color:rgba(49, 49, 53, 1);
    font-size: 13px;
    margin-left:8px;
}

.limitation-ip-number-wrap > input[type="number"]{
    width:175px;
    padding-right:28px;
}

/*Client Profile Style starts*/

.client-profile{
    padding:0;
}

.client-detail-image{
    position: relative;
}

.client-details-details{
    padding-bottom:17px;
}

.client-detail-image > a{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:13px;
    background-color:#000;
    border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    -ms-border-radius:0 0 3px 3px;
    -o-border-radius:0 0 3px 3px;
    color:#fff;
    font-size: 11px;
    font-weight: 500;
}

.client-details-version-wrap{
    width:100%;
}

.client-details-wrap{
    width: 370px;
    border-right:1px solid #EDEDED;
    padding:24px;
}

.client-details li{
    padding:17px 0;
}

.client-details li:not(:last-child){
    border-bottom:1px solid #EDEDED;
}

.client-card-title{
    color:#232334;
    margin-bottom:6px;
}

.client-status{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.client-status.active{
    color:#00A985;
}

.client-status.request{
    color:#CC9F00;
    text-transform: none;
}

.client-details-wrap .button{
    align-self: flex-start;
}

.lmar{
    margin-right: 120px !important;
}

.client-card-item.king-profile-card .client-company-details{
    width:25%;
}

.client-company-details{
    color:#232334;
}

.client-company-details:not(:last-child){
    margin-bottom:9px;
}

.client-company-details > strong{
    font-weight: 600;
}

.client-details .from-to-date{
    margin:12px 0 17px 0;
}

.from-to-date p:not(:last-child){
    margin-right:10px;
}

.contract .total-duration{
    padding-top:17px;
}

.portal-access .section-title-capitalize > span{
    display: block;
    font-size: 12px;
    text-transform: none;
}

.portal-content{
    margin-top:15px;
}

.settings-version-wrap{
    width:calc(100% - 370px);
    padding:24px;
}

.accordion-title{
    padding:8px 16px;
    background-color:#F5F5F7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.accordion-title h2{
    color: #4C3794;
    font-size: 16px;
    line-height: 19px;
}

.version-ul{
    padding:26px 0;
}

.version-ul > li{
    margin-bottom:10px;
}

.accordion-arrow{
    width:10px;
    height:7px;
    background: url(../images/down-arrow.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.accordion-content-title{
    font-size: 16px;
    font-weight: 500;
    color:#232334;
    margin-bottom:8px;
}

.accordion-body-wrap{
    border:1px solid #EDEDED;
    padding:10px 8px;
}

.accordion-content-wrap{
    padding:18px 16px;
}

.accordion-body-wrap .toggle-categories-title{
    font-size: 14px;
}

.accordion-body-wrap .toggle-categories-title > img{
    height:13px;
    padding-right:4px;
    margin-top:-1px
}

.settings-categories-ul li{
    padding:8px 4px;
}

.no-changes-option{
    margin-top:10px;
}

.option-access-wrap{
    padding-right: 50px;
}

.option-access-wrap .settings-categories-ul{
    margin-bottom:26px;
}


/*Add new client popup Style starts*/

.add-new-client .modal-popup-wrap{
    width:780px;
}

.modal-popup-wrapper .form-group{
    margin-bottom:16px;
}

.add-client-popup .popup-subtitle-text{
    margin-bottom:18px;
}

.contract-type .form-group:not(:last-child){
    padding-right:30px
}

.add-new-client .modal-popup-wrap input::placeholder{
    color:#000 !important;
}

.king-details{
    padding:20px 0 20px 32px;
    border-right: 0;
}

.differentiate{
    padding-top:32px;
}


/*Edit client detail Popup*/

.edit-client-modal .modal-popup-wrap{
    width:380px
}

.edit-client-modal .popup-body-wrap{
    padding:0 40px;
}

.edit-client-modal .popup-footer{
    margin: 6px 40px 32px 40px;
    padding:0 ;
}

.edit-client-modal .popup-footer > button{
    width:100%;
}

.edit-client-modal .popup-footer > button:not(:last-child){
    margin-bottom: 12px;
}


/*Client portal Access Modal*/

.client-portal-popup .modal-popup-wrap{
    width: 460px;
}

.cs-radio .radio-btn.calendar-label span:before,
.cs-radio .radio-btn.calendar-label span:after{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top: 50%;
}


/*Update contact popup*/

.update-contact-modal .popup-footer{
    padding:24px 40px;
}

.update-contact-modal .modal-popup-wrap{
    width:480px;
}

/*Kind Profile page style starts*/

.king-profile-card{
    border: none;
    margin-bottom: 0;
    box-shadow: none;
    padding:0;
}

.client-card-item-header,
.king-profile-card {
    width: 100%;
}

.king-profile-card .king-profile-client-card{
	width:98%;
}
.king-profile-card .client-card-details{
	width:100%;
}
.king-profile-card .client-card-title,
.king-profile-card .client-card-details{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.king-profile-card .client-card-image{
    width: 57px;
    height: 57px;
    min-width: 57px;
}

.king-profiler-details{
    padding-left:73px;
    margin-top:14px;
}

.king-profiler-details > p{
    margin-bottom: 0 !important;
}

.king-profiler-details > p:not(:last-child){
    margin-right:70px;
}


/*Change King Profile details popup*/

.change-king-details{
    padding:16px;
    background-color: #F5F5F7;
    border-radius: 3px;
}

.change-king-details h3{
    font-size: 18px;
    font-weight: 600;
    color:#000000;
    margin-bottom:0;
}

.change-king-details p{
    color:#868686;
    font-size: 13px;
}

.new-kind-details-wrap{
    padding:24px 0 0 0;
}

.new-kind-details-wrap .details-title{
    margin-bottom: 17px;
}


/*King resend activation poup*/

.resend-activation .change-king-details > h3,
.resend-activation .change-king-details > p{
    color:#3A3A5C;
    font-size: 14px;
    font-weight: 700;
}
.resend-activation .change-king-details > p{
    font-weight: 400;
    margin-top:5px;
}

.reset-password .alerts{
    width:auto;
}

/*Login Page Style starts*/

.login-wrap{
    width:100%;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: #fff;
}

.login-container{
    flex-wrap: wrap;
    align-items: stretch;
    /* flex-direction: row-reverse; */
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.login-form{
    width: 460px;
    min-height: 100vh;
    display: block;
    /* background-color: #f7f7f7; */
    padding: 55px 55px 55px 55px;
}

.login-form-title{
    margin:35px 0;
    font-size: 28px;
    color: #28434B;
    font-weight: 600;
}

.login-form-credentials label{
    color: #2B2B2B;
    font-size: 15px;
    margin-bottom:15px;
}

.login-form-credentials input{
    font-size: 16px;
    color: #000000;
    border: 1px solid #dadada;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    height: 36px;
    padding:0 12px;
}

.login-form-credentials .alert-text{
    margin-top:5px;
}

.forgot-pwd{
    margin-top:10px;
    display: block;
    color: #4A2BB3;
    text-align: right;
    font-weight: 600;
}

.login-form .validate-input:not(:last-child){
    margin-bottom:30px;
}

.login-btn{
    width:240px;
    min-width: 240px;
    font-weight: 500;
    font-size: 18px;
    background-color: #EFA848;
    margin:50px auto 35px auto;
}

.switchToRegister{
    color: #2B2B2B;
    font-size: 16px;
}

.switchToRegister > a{
    color: #4A2BB3;
    font-weight: 600;
}

.login-image{
   flex:1;
   display: flex;
    height:100%;
    padding:30px 100px;
}

.login-image > img{
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    height:100%;
}

/*DTV-2286-accountpage-r*/
.account-page .create-new,
.account-page .pagination-ul{
    display: none;
}

.main-content.account-page{
    margin-top:110px;
}

.account-fields > li{
    display:flex;
    /* width:calc(50% - 8px); */
    margin-bottom:15px;
}

.account-fields > li > label{
    width:35%;
    min-width: 35%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* .account-fields > li:nth-child(odd){
    margin-right:16px;
} */

.update-wrap > h2{
    font-size: 20px;
    margin-bottom: 35px;
}

.account-fields > li.btn-form{
    justify-content: flex-end;
}

.account-fields > li.btn-form > button{
    min-width: 120px;
    margin-top:20px;
}

.account-page-content-wrap{
    max-width: 540px;
    margin: 40px auto 0 auto;
}

/*DTV-2286*/
.account-fields .form-group > label{
    margin-top:14px;
} 

/*DTV-3533-r*/
.text-dataplan-wrap{
    padding:12px 0 0 12px;
}

.plans-ul > li,
.analysis-ul > li{
    padding:10px 0 !important;
}

.plans-ul > li:last-child{
    padding-bottom: 0 !important;
}

.plans-ul li.calendar-pad{
    padding:6px 0 0 0 !important;
}

.text-plan-titles{
    color:#232334;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.plans-ul > li .cs-radio .radio-btn span,
.surveys-types > li .cs-radio .radio-btn span{
    padding-bottom: 0;
}

.run-data > span{
    margin-right:8px;
}

.run-data > input.calendar{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-color: #D7DAE2;
    box-shadow: 0 2px 3px rgba(0, 0 , 0, 5%);
}

.plans-ul.select-plan .text-plan-titles{
    padding:12px 0 4px 0;
}

.analysis-categories-wrap{
    padding:12px 0 0 8%;
}

.bordered-btn-wrap button:first-child{
    margin-right:8px;
}

.default-text{
    color: rgba(35, 35, 52, .5);
    padding:8px 0;
}

.surveys-types > li{
    padding:12px 0;
}

.survey-modal .popup-body-wrap{
    padding-bottom:32px;
}

.surveys-types > li .cs-radio .radio-btn span{
    font-size: 16px;
    font-weight: 700;
}

.left-arrow-rotateR{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    margin-right:8px;
}

.modal-title,
.select-models-box > label{
    font-size: 16px;
    font-weight: 700;
    color:#0E003E;
}

.overlay.one-modal .modal-popup-wrap{
    width:70%;
}

.scheduled-program {
    background-color: #F3F5F8;
    padding: 24px;
    margin-top: 15px;
    overflow: auto;
}

.select-and-filter-wrap{
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(112, 112, 112, .10);
}

.input-search-wrap{
    position: relative;
    border:1px solid #E2E2E2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #fff;
    padding:8px 6px 8px 8px; 
    margin-top:12px;
}

.input-search-wrap > input{
    padding-left:8px;
    border:0;
}

.dropdown-menu-filter{
    min-width: 160px;
    border-color:#E2E2E2;
    padding:12px 0 0 0;
    left:auto;
}

.dropdown-menu-filter > li{
    font-size: 15px;
    color:#000;
    padding:0 12px 12px 12px;
}

.dropdown-filter{
    min-width: 90px;
}

.dropdown-filter > button{
    width: 100%;
    color:#000;
}

.filter-wrap .dropdown-filter > button{
    padding-right: 25px;
}

.filter-wrap .dropdown-filter > button > .arrown-down{
    position: absolute;
    right: 8px;
}

.survey-card-wrap{
    padding:16px 0;
}

.survey-card-ul > li .survey-item-card{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border:1px solid #E2E2E2;
    box-shadow: 0 1px 2px rgba(0, 0 , 0, 8%);
    background-color: #fff;
    padding:18px 9px;
    width: 100%;
}

.survey-card-ul > li{
    flex: 0 0 33.33%;
    padding-right: 20px;
    margin-bottom: 23px;
    width: 33.33%;
    display: flex;
}

.survey-card-ul > li.active .survey-item-card{
    background-color: #f6f5fa;
    border:2px solid #A59BCA;
}

.survey-card-ul > li:nth-child(3n-1) {
    padding: 0 10px;
}

.survey-card-ul > li:nth-child(3n){
    padding-left: 20px;
    padding-right: 0;
}

.survey-card-ul > li .cs-radio span{
    font-size: 16px;
    color:#0E003E;
    padding-bottom:0;
    margin-bottom: 4px;
    display: block !important;
}

.survey-card-ul > li .cs-radio span:after,
.survey-card-ul > li .cs-radio span:before{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top:50%;
}

.tag-wrap{
    padding-left:20px;
}

.tag-title{
    font-size: 14px;
    font-weight: 700;
    color:#000;
    padding-bottom: 6px;
}

.tag-para{
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    color:rgba(0, 0 , 0, .7);
}

.tag-para{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis-para{
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.tabel-content{
    height: 100%;
}

.tabel-content .dropdown-menu-filter{
    padding:0;
}

.tabel-content .dropdown-menu-filter > li > a{
    padding-bottom:14px;
    display: block !important;
}

.tabel-content .dropdown-menu-filter > li.max-height{
    height: 90px;
    overflow: auto;
}

.tabel-content .bordered-button{
    color: #3A3A5C;
    padding:10px 12px;
}

/*DTV-textanalytics-new-r*/
.surveys-types .cs-radio > .radio-btn > img{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#model-dropdown-menu-filter{
    min-width: 200px;
}

#model-dropdown-menu-filter > li > a{
    display: block;
}

.surveys-types > li .cs-radio .radio-btn span,
.surveys-types .cs-radio > .radio-btn > img,
.survey-card-ul > li .cs-radio span,
#model-dropdown-menu-filter > li > a,
.left-arrow-rotateR{
    cursor: pointer;
}

/*DTV-3531-r*/
.plans-ul.data-plan .cs-checkbox{
    padding:0;
}

.plans-ul :is(.cs-checkbox, .radio-btn){
    cursor: pointer;
    display: inline-block;
}

/*DTV-4207*/
a.underline{
	color: #4C3794;
	text-decoration: underline !important;
}

/*DTV-3531-r*/
.plans-ul.data-plan .cs-checkbox{
    padding:0;
}

.plans-ul :is(.cs-checkbox, .radio-btn){
    cursor: pointer;
    display: inline-block;
}

/*DTV-3867-r*/
.select-adv-temp .modal-popup-wrap{
    width:640px;
}
.select-adv-temp .input-search-wrap{
    margin:0;
}
.select-adv-temp .select-and-filter-wrap{
    padding:0;
    border-bottom: 0;
}
.select-adv-temp .scheduled-program{
    padding:12px;
    margin:0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: initial;
}
.select-adv-temp .scheduled-program .dropdown-menu-filter{
    padding:10px 0;
    max-height: 150px;
    overflow: auto;
}
.select-adv-temp .scheduled-program .dropdown-menu-filter > li{
    text-align: left;
    padding: 0;
}
.select-adv-temp .scheduled-program .dropdown-menu-filter > li a{
    font-size: 14px;
    color: #0F0F0F;
    line-height: 17px;
    padding: 6px 10px ;
    display: block;
}
.select-adv-temp .survey-item-card{
    padding:12px 9px !important;
}
.select-adv-temp .cs-checkbox{
    padding:0;
}
.select-adv-temp .cs-checkbox > span{
    font-size: 16px;
}
.select-adv-temp .survey-card-ul >li{
    flex:0 0 100%;
    width: 100%;
    padding: 0;
}
.select-adv-temp .survey-card-ul >li:last-child{
    margin-bottom: 0;
}
.survey-item-counts{
    padding-left:22px;
    margin-top:8px;
}
.survey-item-counts > p:not(:first-child){
    margin-right: 12px;
    padding-left: 17px;
}
.survey-item-counts > p:first-child{
    margin-right: 12px;
}
.survey-item-counts > p:first-child span{
    padding-right: 6px;
}
.survey-item-counts > p:not(:first-child){
    background: url(../images/clock.svg)  no-repeat 2px 3px;
}
.metrics-count{
    background: url(../images/metrics-count.svg) no-repeat 2px 3px !important;
}
.triggers-count{
    background: url(../images/triggers-count.svg) no-repeat 2px 3px !important;
}
.popupul-title{
    font-size: 15px;
    font-weight: 600;
}
.popup-uls ul{
    margin-top: 6px;
    padding-left:12px;
}
.popup-uls ul li{
    font-size: 14px;
    color:#000;
    line-height: 21px;
    padding-bottom: 5px;
    list-style-type: disc;
}
.second-ul-title{
    margin-top:20px;
}
.alert-box{
    padding:9px 12px;
    background-color: #EDEBF4;
    border: 1px solid #DDD8EF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.alert-box > p{
    color:#2D2059;
    font-size: 15px;
    line-height: 19px;
}
.alert-box{
    margin-top:14px;
}
.generate-keyapi{
    margin-top:9px;
}
.generate-keyapi > input[type="text"]{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    border:1px solid #D7DAE2;
    height: 32px;
    min-height: 32px;
    padding:0 6px;
    color: #535252;
    width:100%;
    flex: 1;
}
.generate-keyapi > a{
    color: #4C3794;
    font-weight: 700;
    padding:0 9px 0 12px;
}
/*DTV-4930-r*/
#dropdown-menu-filter{
    position: fixed;
    top: 131px;
    left: auto;
    right: 30px;
}
/*DTV-4876-r*/
.text-alert{
    margin:16px 0 4px 0;
}
/*DTV-4710*/
.BI-tool > label{
    font-weight: 600;
    margin-bottom: 6px;
    color:#474759;
    display: inline-block;
}
/*DTV-4449-r*/
.progressbar-title > h5{
    display: block;
    margin:8px 0 4px 0;
}
.request-approval-wrap{
    border:1px solid #EBEBEB;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top:8px;
}
.request-approval-header{
    background-color: #F5F5F7;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    padding:8px 12px;
    border-bottom: 1px solid #EBEBEB;
}
.request-approval-header .blue-button{
    padding:7px 12px;
    background-color: #9C8FC4 !important;
    font-weight: 600;
    font-size: 14px !important;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 8%);
}
.request-before-header > h5,
.request-after-header > h5{
    color:#232334;
    font-size: 15px;
}
.request-approval-wrap .text-dataplan-wrap{
    padding:0;
}
.request-approval-body{
    padding:24px 12px;
}
.request-approval-body .text-plan-titles{
    padding:0 !important;
}
.request-status{
    font-weight: 600;
    margin-left: 4px;
}
.request-after-header > .d-flex > h5{
    margin-bottom: 4px;
}
.request-after-header > .d-flex > p{
    font-size: 13px;
    color:#868686;
}
.pending{
    color:#CC9F00 !important
}
.deined{
    color:#CA404A !important
}
.request-tools-link{
    min-width: 160px;
    align-items: flex-end;
}
a[title="Resend approval email"]{
    color:#6F59A9;
    text-decoration: underline;
    font-weight: 600;
}
.request-approval-header .cancel-button{
    color:#6F59A9;
    font-weight: 600;
}
.request-approval-body .after-edit-content > ul > li:not(:last-child){
    padding-bottom: 8px;
    margin-bottom: 14px;
}
.request-approval-body .after-edit-content > ul > li{
    padding:0;
}
.request-approval-body .after-edit-content > ul > li .text-plan-titles{
    margin-bottom: 6px;
}
.text-dataplan-wrap .plans-ul:not(:first-child),
.text-dataplan-wrap .plans-ul:not(:last-child){
    margin-top:12px;
}
.request-approval-body .after-edit-content > ul > li strong{
    font-weight: 600;
}
/*DTV-5324 popup style*/
  .tagged-response-tool .client-card-title{
    margin:16px 0 9px 0;
}
.tagged-response-tool .survey-wrap > ul > li{
    padding:10px 12px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}
.tagged-response-tool .survey-wrap > ul > li .cs-checkbox{
    padding:0;
}
.tagged-response-tool .survey-wrap > ul > li:hover{
    background-color:#F7F8FA;
}
.tagged-response-tool .popup-body-wrap{
    overflow: initial;
}
.tagged-response-tool .survey-wrap > ul{
    overflow: auto;
    height: calc(100% - 180px);
    max-height: calc(100vh - 280px);
}
/*DTV-5568-r*/
.settings-categories-ul .survey-li > li{
    border: 0 !important;
    padding:8px 0 0 0 !important;
    list-style: circle; 
    margin-left: 22px;
 }
 .plan-divs:not(:last-child){
    margin-bottom: 10px;
 }
 .plan-divs .text-plan-titles{
     padding-bottom: 8px;
 }
/*DTV-4724-r*/
.hippa-radio .cs-radio:not(:last-child){
    margin-right: 36px;
}
.letter-space-i{
    letter-spacing: .4px;
}

/*SE-1801-r*/
.nav li {
    position: relative;
}
.profile-dropdown.accountDropdown{
	width:12rem;
	opacity: 1;
 visibility: visible;
 top: -100%;
 }
.accountDropdown li.logout{
    border-top:1px solid #e6e6f3;
}  
/*DTV-7652-r*/
.survey-card-ul li .survey-item-card.depericated-error{
    background-color: #F3F5F8;
}
.survey-card-ul li .survey-item-card.depericated-error *:not(.survey-item-card-error , .cs-radio){
    color:#8b9099 !important;
    opacity: .6;
}
.survey-card-ul li .survey-item-card.depericated-error .survey-item-card-error,
.survey-item-card-error{
    color:#cc4952 !important;
}
.survey-card-ul li .survey-item-card.depericated-error .survey-item-card-error{
    padding-left: 24px;
}
.tabel-content .survey-item-card-error{
    margin-top:6px;
    display: inline-block;
}
.CS-gray-text svg path{
    background-color: #AFA2D9 !important;
    fill: #AFA2D9 !important;
}
.CS-gray-text svg{
    width: 12px;
    height: 12px;
}
/*DTV-7652-r*/
.max-height li{
    padding-bottom: 0 !important;
}
.max-height{
    max-height: 160px;
    overflow: auto;
    z-index: 3;
}

/*Transtion normal style*/
.transition-basic{
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}


/*DTV-8018-r*/
.ac-settings-body .cs-radio span::before{
    top:-1px
}
.ac-settings-body .cs-radio span::after{
    top:0
}
.ac-settings-sub-toogle .cs-radio .radio-btn .radio:checked + span:after{
    top: 3px !important;
}
/*THeme style*/
.custom-theme-popup .modal-popup-wrap{
    width: 760px;
}
/* .theme-thumbnail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
} */
/* .theme-thumbnail > li{
    border-radius: 12px;
    width: calc(33.33% - 32px);
    height: auto;
}
.theme-thumbnail > li:nth-child(3n){
    width: 33.33%;
} */
.thumbnail-card{
    width: 100%;
    /* background: url(../images/popup-thumbnail.png) no-repeat center;
    background-size: cover; */
    max-height: 160px;
    min-height: 160px;
    border:2px solid transparent;
    padding:2px 3px;
    transition: .3s ease-in-out;
    border-radius: 12px;
}
.thumbnail-card > a > img{
    max-width: 100%;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 12px;
}
.thumbnail-card.active{
    border-color:#9C8FC4 !important;
}
.thumbnail-card-view{
    position: absolute;
    right: 8px;
    top:8px;
    left: auto;
}
.thumbnail-card-view > span{
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.thumbnail-card > img{
    max-width: 100%;
    width: 100%;
    border-radius: 12px;
}
.thumbnail-dash .thumbnail-card{    
    max-height: 160px;
    /* background: url(../images/ojar-dark.png) no-repeat center; */
    background-size: cover;
    min-height: 160px;
}
/* .thumbnail-dash > li:nth-child(2) .thumbnail-card{
    background: url(../images/ojar-light.png) no-repeat center !important;
    background-size: cover;
} */
.static-btn{
    padding:4px 8px;
    border-radius: 4px;
    background-color: rgba(203,126,84, 10%);
    color: #CB7E54;
    font-size: 18px;
    font-weight: 700;
    width: auto;
    /* max-width: 126px; */
}
.static-btn > svg path{
    fill: #CB7E54;
}
.thumbnail-card.cursor-default{
    -webkit-box-shadow: -8px -5px 12px -7px rgba(61,61,61,1);
    -moz-box-shadow: -8px -5px 12px -7px rgba(61,61,61,1);
    box-shadow: -8px -5px 12px -7px rgba(61,61,61,1);
    padding:0;
    border-width: 0;
    max-height: 140px;
    min-height: 140px;
}
.settings-categories-ul .ul-li-border-0 > li{
	border:0 !important;
    padding:0 0 0 8px;
    list-style-type: armenian;
    position: relative;
}
.settings-categories-ul .ul-li-border-0 > li::before{
    content: '\2010';
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    transform: translateY(-50%);
    top:50%;
}
.settings-categories-ul ul.no-border-bottom li{
    border-bottom: 0 !important;
}
/*Game Plan*/
.game-plan-card > li{
    border-radius: 20px !important;
    background: linear-gradient(134deg, #7656A3 -50.78%, #00E8F8 593.15%);
    padding:22px 32px !important;
}
.game-plan-card > li::after,
.card-shuffle{
    position: absolute;
    width: calc(100% - 40px);
    height: 40%;
    bottom: -12px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #AAB7E6;
    z-index: -1;
    left: 0;
    right: 0;
    content: '';
}
.card-shuffle{
    width: calc(100% - 80px) !important;
    background-color: #C3CEF5 !important;
    bottom: -24px !important;
}
.game-plan-card > li h3{
    font-size: 24px;
    color: #fff;
    padding-right: 18px !important;
}
.ham-burger-icon{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    position: absolute;
    top:16px;
    right: 16px;    
}
/*Template card plan*/
.template-plan-card > li,
.template-image{
    border-radius: 32px;
}
.template-image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.template-image{
    max-height: 174px;
    min-height: 174px;
    overflow: hidden;
}
.template-image > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 100%;
}
.basic-pill{
    padding:2px 8px !important;
    background-color: #E1E4EB !important;
    font-size: 11px !important;
    border-radius: 12px;
}
.tickSvg{
    height: 100px;
        width: 100px;
}