<app-navigation></app-navigation>
<main class="main-content">
    <div class="add-new-client-wrap">
        <div class="add-new-client-text">
            <i *ngIf="success">You have granted access to your Customer Support Executive during {{contractStartDate}} - {{contractEndDate}}. We are ready to go!</i>
            <a href="javascript:void(0);">
            <img src="assets/images/access-granted.svg" width="300px">
            </a>
        </div>
    </div>
</main>