<!--Login page-->
<section class="login-wrap d-flex justify-center">
    <div class="login-container d-flex">
        <form [formGroup]="loginForm" class="login-form">
            <h1 class="d-flex justify-center">
                <img src="assets/images/dt-logo.png" alt="logo" />
            </h1>
            <span class="login-form-title d-flex justify-center">
                Welcome Back!
            </span>
            <div class="login-form-credentials validate-input d-flex flex-flow-column">
                <label for="loginEmail">Email</label>
                <input type="text" name="email" formControlName="userNameControl"/>
                <!--alert text-->
                <span class="alert-text" style="display: none;">Alert</span>
            </div>
            <div class="login-form-credentials validate-input d-flex flex-flow-column" style="margin-bottom: 0;">
                <label for="loginPassword">Password</label>
                <input type="password" name="password" class="" formControlName="passwordControl"/>
            </div>
            <!-- <span class="forgot-pwd text-right">
                <a href="javascropt:void(0);" title="forgot-password" class="">
                    Forgot password?
                </a>
            </span> -->

            <!--submit-btn-->
            <button type="submit" (click)="loginSubmit()" class="button d-flex justify-center y-center login-btn">
                Login
            </button>
            <!-- <div class="switchToRegister text-center">
                <span>Don't have an account?</span>
                <a href="javascript:void(0);" title="Register Now">Get One!</a>
            </div> -->
            
        </form>

        <!--Image-->
        <div class="login-image relative">
            <img src="assets/images/login-image.svg" />
        </div>
    </div>
</section>