<app-navigation></app-navigation>
<main class="main-content">
    <header class="page-header d-flex flex-column gap-20">
        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space m-0 border-bottom pb-32">
            <ul class="breadcrumbs d-flex y-center">
                <li class="relative" (click)="goToGameplans()">
                    <a href="javascript:void(0);" title="Game plans">Gameplans</a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="Game plans" class="active breadcrumbs">Create new Gameplan</a>
                </li>
            </ul>
            <div class="d-flex gap-24" *ngIf="gameplanStatus == 'update'">
                <button type="button" class="dt-btn dt-btn-white px-16 py-8">
                    <span>Discard changes</span>
                </button>
                <button type="button" class="dt-btn dt-btn-secondary px-16 py-8">
                    <span>Update</span>
                </button>
            </div>
            <div class="d-flex gap-24" *ngIf="gameplanStatus == 'create'">
                <button type="button" [class]="this.createGameplanSurveyForm.controls.createGameplanName.value && this.createGameplanSurveyForm.controls.createGameplanName.value.length > 0 && !this.createGameplanSurveyForm.controls.createGameplanName.hasError('gameplanExists') ? 'dt-btn dt-btn-white px-16 py-8' : 'dt-btn dt-disabled px-16 py-8'" (click)="saveGameplan('draft')">
                    <span>Save as Draft</span>
                </button>
                <button type="button" [class]="this.createGameplanSurveyForm.controls.createGameplanName.value && this.createGameplanSurveyForm.controls.createGameplanName.value.length > 0 && !this.createGameplanSurveyForm.controls.createGameplanName.hasError('gameplanExists') && industry.length != 0 && templateNames.length != 0 &&
                    this.createGameplanSurveyForm.value.shortDescription != '' && this.createGameplanSurveyForm.value.objectiveValue != '' && this.createGameplanSurveyForm.value.outcomeValue != '' 
                    && selectedKeyFeature.length != 0 ? 'dt-btn dt-btn-secondary px-16 py-8' : 'dt-btn dt-disabled px-16 py-8'" (click)="saveGameplan('public')">
                    <span>Save & Make it Public</span>
                </button>
            </div>
        </div>
    </header>
    <section class="main-content-outer-wrap d-flex xy-center flex-column">
        <div class="d-flex flex-column w-65-percent">
            <form id="create-gameplan-content-surveyform" [formGroup]="createGameplanSurveyForm">
            <ul class="d-flex flex-column gap-32">
                <li class="form-group d-flex flex-column">
                    <label class="text-para">
                        Gameplan name*
                    </label>
                    <input type="text" placeholder="Give a name to the gameplan" formControlName="createGameplanName" name="createGameplanName" maxlength="64" autocomplete="off" [(ngModel)]="createGameplanName"/>
                    <div id="create-gameplan-name-error-dirty" *ngIf="this.createGameplanSurveyForm.controls.createGameplanName.dirty">
                        <div id="create-gameplan-name-error-language-en-PMprgmExists" class="text-danger text-exsmall" *ngIf="this.createGameplanSurveyForm.controls.createGameplanName.hasError('gameplanExists') && this.createGameplanSurveyForm.controls.createGameplanName.value != selectedSurveyName">
                            This gameplan name already exists. Please use another.
                        </div>
                    </div>
                </li>
                <li class="d-flex flex-column gap-8 form-group form-group-sub-drop m-0">
                    <label class="text-para">
                        Industry*
                    </label>
                    <input type="text" placeholder="{{industryPlaceholder}}" readonly (click)="displaySubDropDownMenu('industryMenu')" />
                    <!-- <p *ngIf="industryPlaceholderError" class='error_msg'>Please select the Client’s industry</p> -->
                    <!--Sub drop menu-->
                    <div class="dropdown-form top-input-relative d-flex flex-column gap-12 max-height" style="display: none;" id="industryMenu">
                        <label class="cs-checkbox" (mouseup)="selectIndustry(industry)" *ngFor="let industry of defaultIndustry; let industryIndex = index">
                        <input type="checkbox" class="check" [checked]="industryPlaceholder.includes(industry)" />
                        <span>
                            {{industry}}
                        </span>
                        </label>
                    </div>
                </li>
                <li class="form-group d-flex flex-column">
                    <label class="text-para">
                        Select Templates that should go in this gameplan *
                    </label>
                    <ul class="d-flex flex-column gap-8">
                        <li class="d-flex gap-12 y-center" *ngFor="let count of templatesDropdown; let removeIndex=index">
                            <div class="d-flex flex-column gap-8 form-group form-group-sub-drop m-0 w-100-percent" id="template_{{removeIndex}}">
                                <input type="text" placeholder="{{templateNames[removeIndex]}}" readonly (click)="displaySubDropDownMenu('showtemplateDropdownMenu_', removeIndex)"/>
                                <div class="dropdown-form top-input-relative d-flex flex-column gap-12 max-height" style="display: none;" id="showtemplateDropdownMenu_{{removeIndex}}">
                                    <div class="cs-radio d-flex flex-column gap-8">
                                        <label class="radio-btn" *ngFor="let templates of templatesList; let templateIndex = index">
                                        <input type="radio" class="radio" [disabled]="templateNames.indexOf(templates.templateName) > -1" name="templateSelected" (click)="selectTemplate(removeIndex,templates)" [checked]="templateNames[removeIndex]" />
                                        <span class="d-flex y-center">
                                            {{templates.templateName}}
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button class="dt-btn dt-btn-icon" [hidden]="addAnotherCount < 2" (click)="removeTemplateDropdown(removeIndex)">
                                <i class="dtic-minus-fill"></i>
                            </button>
                        </li>
                       <a href="javascript:void(0);" title="" [class]="addAnotherCount >= 10 ? '' : 'd-inline-block font-medium text-primary text-para'" (click)="addAnotherCondition()" [hidden]="addAnotherCount >= 10">
                            Add another
                       </a>
                    </ul>
                </li>
                <li class="form-group">
                    <label class="text-para">Short description *</label>
                    <div class="d-flex flex-column">
                        <textarea class="textarea" formControlName="shortDescription" maxlength="2000" placeholder="" hidden></textarea>
                    <editor
                        apiKey="y4d8bzwln6t1o6l14kfamjmrhjhta056nkp1jonreb781nke"
                        [init]=tinyMCEConfig
                        [(ngModel)]="createGameplanSurveyForm.value.shortDescription" maxlength="2000"
                        id="shortDescription" #shortDesc
                        (onPaste)="onPaste($event, 2000)"
                        formControlName="shortDescription"
                    ></editor>
                    </div>
                    <p id="create-gameplan_p_optional-count-length" class="optional-count d-flex justify-x-end" *ngIf="shortDescription != ''">
                        {{2000-removeHTMLTags(shortDescription)}}/2000
                    </p>
                </li>
                <li class="form-group">
                    <label class="text-para">Objectives *</label>
                    <div class="d-flex flex-column">
                        <textarea class="textarea" formControlName="objectiveValue" maxlength="2000" placeholder="" hidden></textarea>
                    <editor
                        apiKey="y4d8bzwln6t1o6l14kfamjmrhjhta056nkp1jonreb781nke"
                        [init]=tinyMCEConfig
                        [(ngModel)]="createGameplanSurveyForm.value.objectiveValue" maxlength="2000"
                        id="objectiveValue" #objective
                        (onPaste)="onPaste($event, 2000)"
                        formControlName="objectiveValue"
                    ></editor>
                    </div>
                    <p id="create-gameplan_p_optional-count-length" class="optional-count d-flex justify-x-end" *ngIf="objectiveValue != ''">
                        {{2000-removeHTMLTags(objectiveValue)}}/2000
                    </p>
                </li>
                <li class="form-group">
                    <label class="text-para">Outcomes *</label>
                    <div class="d-flex flex-column">
                    <editor
                        apiKey="y4d8bzwln6t1o6l14kfamjmrhjhta056nkp1jonreb781nke"
                        [init]=tinyMCEConfig
                        [(ngModel)]="createGameplanSurveyForm.value.outcomeValue" maxlength="2000"
                        id="outcomeValue" #outcome
                        (onPaste)="onPaste($event, 2000)"
                        formControlName="outcomeValue"
                    ></editor>
                    </div>
                    <p id="create-gameplan_p_optional-count-length" class="optional-count d-flex justify-x-end" *ngIf="outcomeValue.length > 0">
                        {{2000-removeHTMLTags(outcomeValue)}}/2000
                    </p>
                </li>
                <li class="form-group">
                    <label class="text-para">
                        Key features *
                    </label>
                    <ul class="d-flex flex-column gap-8">
                        <li *ngFor="let keys of keyFeaturesList;">
                            <label class="cs-checkbox" (mouseup)="selectKeyFeatures(keys)">
                                <input type="checkbox" class="check" [checked]="keyFeaturePlaceholder.includes(keys)" />
                                <span>
                                    {{keys}}
                                </span>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
            </form>
        </div>
    </section>
</main>

<div class="overlay" id="planSuccessfullyCreated" *ngIf="gameplanSuccess">
    <div class="modal-popup-wrapper update-contact-modal">
        <div class="modal-popup-wrap d-flex">
            <div class="popup-body-wrap p-32 d-flex xy-center flex-column gap-12">
                <img class="tickSvg" src="assets/images/tick.gif" />
                <p class="text-dark text-para">
                    Successfully saved and is now live!
                </p>
            </div>
        </div>
    </div>
</div>