<app-navigation></app-navigation>
<main class="main-content">
     <!--Page Header-->
     <header class="page-header">

         <!--Breadcrumbs and Create-new -->

        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space">
            <ul class="breadcrumbs d-flex y-center">
                 <li>
                     <a href="javascript:void(0);" title="Clients" class="active">
                         Clients
                     </a>
                 </li>
            </ul>

            <!--Create new-->
            <div class="create-new">
                <a href="javascript:void(0);" title="" class="d-flex xy-center" (click)="showClientDetailPopup()">
                    <img src="assets/images/plus-symbol.svg" alt="plus symbol" />
                </a>
                <span class="text-capital">Create New Client</span>
            </div>
        </div>

        <!--Pagination-->
        <div class="pagination-wrap d-flex justify-space search-wrapx">
            <ul class="pagination-ul d-flex y-center">
                <li>
                    <a href="javascript:void(0);" title="current" [class]="!pastClient ? 'active' : ''" (click)="showCurrentClients()">
                        Current
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="Past" [class]="pastClient ? 'active' : ''" (click)="showPastClients()">
                        Past
                    </a>
                </li>
            </ul>
            <div class="d-flex relative cs-search-wrap mb-8">
                <input type="search" #clientSearchInput placeholder="Search by Client, King's name or email" 
                [(ngModel)]="searchByClientKingNameEmail"/>
                <span class="input-search-icon">
                    <img src="assets/images/search-grey.svg" alt="" />
                </span>
            </div>
        </div>
     </header>

     <div *ngIf="!clientsReceivedFromAPI" class='center'>
        <img style="margin: 12em 8em; height: 250px; width: auto;" src="assets/images/animat-search-color.gif" alt="Plus">
     </div>

     <!--Add New Client-->
     <div class="add-new-client-wrap" *ngIf="clients.length == 0 && clientsReceivedFromAPI">
        <div class="add-new-client-text" *ngIf="!pastClient">
            <i>No clients found.</i>
            <a href="javascript:void(0);" class="add-new-client button blue-button" title="Add New Client" (click)="showClientDetailPopup()">
                <img src="assets/images/plus-symbol.svg" alt="Plus" />
                Add new client
            </a>
        </div>
         <div class="add-new-client-text" *ngIf="pastClient">
             <i>You have no past clients!</i>
         </div>
     </div>

     <div *ngIf="clients.length > 0">
        <app-client-card [clients]="clients" [pastClients]='pastClient' (getAllClients)="getAllClientData()"></app-client-card>
     </div>
</main>


<div class="overlay" *ngIf="addClient">
    <div class="modal-popup-wrapper add-new-client">
         <div class="modal-popup-wrap d-flex">
             <!--close-icon-->
             <a href="javascript:void(0);" title="close" class="popup-close" (click)="closeNewClient()">
                 <img src="assets/images/popup-close.svg" alt="close-icon" /> 
             </a>
             <!--popup-head-->
             <div class="popup-header d-flex y-center">
                 <h2 *ngIf="addClient">Add new Client</h2>
             </div>

             <!--Popup-body-->
             <div class="popup-body-wrap">
                 <div class="popup-content-wrap d-flex">
                     <div class="flex-50 add-client-popup">
                         <h3 class="popup-subtitle-text">
                             Client details
                         </h3>
                         <div class="form-group">
                             <label>
                                 Company Name
                             </label>
                             <input type="text"  [(ngModel)]="companyName" maxlength="256" (input)="runSaveChecks()" placeholder="{{companyName}}" />
                             <p *ngIf="companyNameError" class='error_msg'>Please fill in company name</p>
                         </div>
                         <div class="d-flex justify-space contract-type">
                             <div class="form-group">
                                 <label>
                                     Contract Start date
                                 </label>

                                 <input type="text" name="date-input"  autocomplete="off"  (change)="runSaveChecks()" class="calendar datepicker start-date"  id="start-date" placeholder="{{contractStartDate}}">
                                 <!-- <input type="text" class="calendar" placeholder="20 Feb 2019"/> -->
                             </div>
                             <div class="form-group">
                                 <label>
                                     Contract End date
                                 </label>
                                 <input type="text" name="date-input" autocomplete="off"  (change)="runSaveChecks()" class="calendar datepicker end-date" id="end-date" placeholder="{{contractEndDate}}">
                                 <!-- <input type="text" class="calendar" placeholder="20 Feb 2019"/> -->
                             </div>
                         </div>
                         <p *ngIf="contractStartDateError" class='error_msg'>Please select Contract Start and End Dates</p>
                         <div class="differentiate">                         
                            <div class="form-group form-group-sub-drop">
                                <label>
                                    Country
                                </label>
                                <select id="country" name="country" (change)="selectCountry($event.target.value)">
                                    <option value="" disabled selected hidden>{{countryPlaceholder[country-1]}}</option>
                                    <option value="1">India</option>
                                    <option value="2">Oman</option>
                                    <option value="3">United Arab Emirates</option>
                                    <option value="4">United States of America</option>
                                </select>
                                <p *ngIf="countryError" class='error_msg'>Please select a Country</p>
                            </div>
                             <div class="form-group form-group-sub-drop">
                                 <label>
                                     Employee range
                                 </label>
                                 <!-- <input type="text" placeholder="5000 - 1000" /> -->
                                <input type="text" placeholder="{{empRangePlaceholder}}" readonly (click)="displaySubDropDownMenu('empRange')" />
                                <p *ngIf="empRangePlaceholderError" class='error_msg'>Please select the Employee Range</p>

                                <div class="dropdown-form" style="display: none; z-index: 10;" id="empRange">
                                    <!-- <div class="cs-radio">
                                        <label class="radio-btn" (click)="selectRange(rangeIndex)" (mouseup)="runSaveChecks()" *ngFor="let range of defaultRange; let rangeIndex = index">
                                            <input type="radio" class="check" [disabled]="range == empRangePlaceholder" [checked]="range == empRangePlaceholder"/>
                                            <span>
                                                {{range}}
                                            </span>
                                        </label>
                                    </div> -->
                                    <div class="cs-radio">
                                        <label class="radio-btn" (click)="selectRange(rangeIndex)" (mouseup)="runSaveChecks()" *ngFor="let range of defaultRange; let rangeIndex = index">
                                          <input type="radio" class="check" [disabled]="range == empRangePlaceholder" [checked]="range == empRangePlaceholder"/>
                                          <span style="display:block">
                                            {{range}}
                                          </span>
                                        </label>
                                    </div>
                                </div>
                                
                                 <!-- <div class="dropdown-form" style="display: none; z-index: 10;" id="empRange">
                                    <label class="cs-checkbox" (click)="selectRange(rangeIndex)" (mouseup)="runSaveChecks()" *ngFor="let range of defaultRange; let rangeIndex = index">
                                        <input type="checkbox" class="check" [disabled]="range == empRangePlaceholder" [checked]="range == empRangePlaceholder"/>
                                        <span>
                                            {{range}}
                                        </span>
                                    </label>
                                </div> -->
                             </div>
                             <div class="form-group form-group-sub-drop">
                                 <label>
                                     Industry
                                 </label>
                                 <input type="text" placeholder="{{industryPlaceholder}}" readonly (click)="displaySubDropDownMenu('industryMenu')" />
                                 <p *ngIf="industryPlaceholderError" class='error_msg'>Please select the Client’s industry</p>
 
                                 <!--Sub drop menu-->
                                 <div class="dropdown-form" style="display: none;" id="industryMenu">
                                     <label class="cs-checkbox" (mouseup)="selectIndustry(industry)" *ngFor="let industry of defaultIndustry; let industryIndex = index">
                                         <input type="checkbox" class="check" [checked]="industryPlaceholder.includes(industry)" />
                                         <span>
                                             {{industry}}
                                         </span>
                                     </label>
                                 </div>
                             </div>
                         </div>
                     </div>

                     <div class="flex-50 add-client-popup king-details">
                         <h3 class="popup-subtitle-text">
                             King details
                         </h3>
                         <div class="form-group">
                             <label>
                                 Name
                             </label>
                             <input type="text" [(ngModel)]="kingName" maxlength='256' (input)="runSaveChecks()" (mouseup)="runSaveChecks()"  placeholder="{{kingName}}" />
                             <p *ngIf="kingNameError" class='error_msg'>Please give a name to the King</p>
                         </div>
                         <div class="form-group">
                             <label>
                                 Email
                             </label>
                             <input type="email"  [(ngModel)]="kingEmail" maxlength='256' (input)="runSaveChecks()" (mouseup)="runSaveChecks()" placeholder="{{kingEmail}}" />
                             <p *ngIf="kingEmailError" class='error_msg'>Please fill the email id for the King</p>
                             <p *ngIf="kingEmailFormatError && !kingEmailError && showErrorMessage.length == 0" class='error_msg'>Please enter a valid email address</p>
                             <p *ngIf="!kingEmailError && !kingEmailError && showErrorMessage.length > 0" style="color: red">{{showErrorMessage}}</p>
                             
                         </div>
                         <div class="differentiate">
                             <div class="form-group">
                                 <label>
                                     Mobile
                                 </label>
                                 <input type="text" [(ngModel)]="kingMobile" maxlength='20' (input)="runSaveChecks()" (mouseup)="runSaveChecks()" placeholder="{{kingMobile}}" />
                                 <p *ngIf="kingMobileError" class='error_msg'>Please fill the phone number of the King</p>
                             </div>
                             <div class="form-group">
                                 <label>
                                     Title
                                 </label>
                                 <input type="text" [(ngModel)]="kingTitle" maxlength='256' (input)="runSaveChecks()" (mouseup)="runSaveChecks()" placeholder="{{kingTitle}}" />
                                 <p *ngIf="kingTitleError" class='error_msg'>Please fill the King’s title</p>
                             </div>
                             <div class="form-group">
                                <label>
                                    Does this client require HIPAA Compliance?
                                </label>
                                <div class="d-flex y-center hippa-radio">
                                    <div class="cs-radio">
                                        <label class="radio-btn">
                                            <input type="radio" class="radio" name="hippa" [checked]="hippaData" (change)="setHippaStatus(1)"/>
                                            <span>
                                                Yes
                                            </span>
                                        </label>
                                    </div>
                                    <div class="cs-radio">
                                       <label class="radio-btn">
                                           <input type="radio" class="radio" name="hippa" [checked]="!hippaData" (change)="setHippaStatus(0)"/>
                                           <span>
                                               No
                                           </span>
                                       </label>
                                   </div>
                                </div>
                            </div>
                         </div>
                     </div>
                 </div>
             </div>

             <!--Popup-footer-->
             <div class="popup-footer d-flex y-center justify-space">
                <button class="cancel-button" type="button" (click)="closeNewClient()">
                    Cancel
                </button>
                <button class="button button-orange" type="button" (click)="saveDetails()" [disabled]="disableButton">
                    <span *ngIf="!disableButton">Continue</span>
                    <span *ngIf="disableButton"><img src="assets/images/Pulse-1s-200px.gif" style="width: 24px; height: auto"> </span>
                </button>
             </div>
         </div>
    </div>
</div>


<!--CS-portal-alerts-->
<div class="alerts-wrap y-center justify-center d-flex" *ngIf="successfullyCreated">
    <div class="alerts success d-flex justify-space y-center visible">
        <span *ngIf="successfullyCreated && tempContractDateForPopup <= dateNow">Successfully saved! An activation email has been sent to the King</span>
        <span *ngIf="successfullyCreated && tempContractDateForPopup > dateNow">Successfully saved! An activation email will be sent to the King on {{convertDate(tempContractDateForPopup)}}</span>
        <svg width="12" height="12" viewBox="0 0 12 12" (click)="removeSuccessfullyUpdated()">
            <g id="close" transform="translate(0)" opacity="0.5">
                <rect id="Rectangle_1744" data-name="Rectangle 1744" width="12" height="12" fill="#ffd800" opacity="0"/>
                <path id="Union_3" data-name="Union 3" d="M4.5,4.5,0,9,4.5,4.5,0,0,4.5,4.5,9,0,4.5,4.5,9,9Z" transform="translate(1.5 1.5)" fill="none" stroke="#ca404a" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
        </svg>
    </div>
</div>