<app-navigation></app-navigation>
<main class="main-content">
    <header class="page-header">
        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space">
            <ul class="breadcrumbs d-flex y-center">
                <li class="relative">
                    <a href="javascript:void(0);" title="Custom EUX themes" class="active">Custom EUX themes</a>
                </li>
            </ul>
        </div>
        <div class="pagination-wrap"></div>
    </header>
    <div class="client-card-wrap">
        <div *ngIf="!customthemesList || customthemesList.length < 1" class="empty-theme d-flex flex-flow-column xy-center mt-48">
            <img src="../../../assets/images/theme-none.svg" alt="" />
            <p class="text-gray text-medium">
                Themes will appear here once created in the back end.
            </p>
            <!-- <a href="javascript:void(0);" title="Start Creating a New Theme" class="text-primary font-medium text-medium mt-4">
                Start creating now
            </a> -->
        </div>
        <ul *ngIf="customthemesList && customthemesList.length > 0" class="dt-grid-auto thumbnail-dash">
            <li *ngFor="let theme of customthemesList; let themeIndex=index" class="d-flex flex-column xy-center">
                <a href="javascript:void(0);" title="" class="thumbnail-card d-flex relative cursor-default">  
                    <img [src]="theme.pageImageUrl" title="" />                  
                    <div class="thumbnail-card-view d-flex gap-8">
                        <span (click)="goToPreview(theme)" class="d-flex xy-center">
                            <img src="../../../assets/images/eye.svg" alt="preview" />
                        </span>
                        <!-- <span class="d-flex xy-center">
                            <img src="../../../assets/images/p-edit.svg" alt="preview" />
                        </span> -->
                    </div>
                </a>
                <span class="font-medium text-black mt-8">
                    {{theme?.themeName}} 
                </span>
            </li>
        </ul>
    </div>
</main>