<app-navigation></app-navigation>
<main class="main-content">
    <header class="page-header d-flex flex-column gap-20">
        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space m-0 border-bottom pb-32">
            <ul class="breadcrumbs d-flex y-center">
                <li (click)="goToGameplansPage()">
                    <a href="javascript:void(0);" title="Game plans" class="">Gameplans</a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="Game plans" class="active breadcrumbs">{{selectedGamePlan?.gamePlanName}}</a>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <div class="d-flex gap-40 mt-24">
            <div class="game-paln-objective d-flex flex-column flex-1-75">
                <h4 class="text-large text-dark font-medium">
                    Objective
                </h4>
                <div class="d-flex flex-column gap-16 text-para text-dark mt-16">
                    <p class="" [innerHTML]="selectedGamePlan?.objective | safeHtml">
                         
                    </p>
                </div>
                <div class="gameplansCardPortal py-32">
                    <h4 class="text-large text-dark font-medium">
                        PreBuilt Programs 
                    </h4>
                    <ul class="grid-three-columns my-40">
                        <li class="d-flex flex-column bg-white box-shadow-lte" *ngFor="let info of selectedGamePlan?.templatesInfo">
                            <div class="template-image d-flex xy-center">
                                <img src="{{info.templateImage}}" alt="" />
                            </div>
                            <div class="p-20">
                                <button type="button" class="d-flex xy-center gap-4 advancedTopminus bg-gray-300 basic-pill" *ngIf="info.templateType == 0">
                                    <p class="text-exsmall font-medium text-uppercase">
                                        Basic
                                    </p>
                                </button>
                                <button type="button" class="d-flex xy-center advanced-btn gap-4 advancedTopminus" *ngIf="info.templateType == 1">
                                    <img src="../../../assets/images/star.svg" alt="" />
                                    <p class="text-exsmall font-medium text-uppercase">
                                        Advanced
                                    </p>
                                </button>
                                <h3 class="text-para text-dark font-medium mt-12">
                                    {{info.templateNames}}
                                </h3>
                                <div class="d-flex x-center gap-16 mt-12">
                                    <h5 class="xy-center text-medium text-dark gap-4 d-flex">
                                        <span class="">{{info.questionsCount}}</span>
                                        <span>Questions</span>
                                    </h5>
                                    <h5 class="xy-center text-medium text-dark gap-4 d-flex">
                                        <img src="../../../assets/images/clock.svg" alt="" />
                                        <span>{{info.completionTime}}min Avg. Time</span>
                                    </h5>
                                </div>
                                <button type="button" class="dt-btn dt-btn-secondary mt-32" (click)="goToTemplatePreview(info)">
                                    Quick view
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="d-flex flex-column py-24 px-32 border-radius-20 bg-success-100 mb-12">
                        <div class="text-dark">
                            <h5 class="text-large font-medium">
                                Gameplan outcomes
                            </h5>
                            <ul class="list-style-numeric text-para d-flex flex-column gap-8 mt-12 pl-16">
                                <li *ngFor="let outcome of selectedGamePlan.outcomes">
                                    <p [innerHTML]="outcome | safeHtml"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-1-25 bg-gray-100 p-32 border-radius-20" hidden>
                <picture class="w-100-percent h-auto">
                    <img src="../../../../assets/images/template-sample-01.png" alt="" class="position-normal"/>
                </picture>
                <div class="d-flex flex-column">
                    <div class="premium-features-wrap mt-20">
                        <ul class="d-flex flex-column gap-12 py-16 exploree-plans-ul">
                            <li class="d-flex gap-8">
                                <span class="key-feature-circle border-radius-circle d-flex xy-center bg-white">

                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Key features 
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-1-25 bg-gray-100 p-32 border-radius-20">
                <picture class="w-100-percent h-auto">
                    <img src="../../../../assets/images/Explore-plans.svg" alt="" />
                </picture>
                <div class="d-flex flex-column">
                    <div class="premium-features-wrap mt-20">
                        <h5 class="text-large font-medium text-dark">
                            Key features
                        </h5>
                        <ul class="d-flex flex-column gap-12 py-16">
                            <li class="d-flex y-center gap-8" *ngFor="let keys of selectedGamePlan?.keyFeatures">
                                <!-- <i class="text-gray text-medium">
                                    ➩
                                </i> -->
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-programs text-exlarge text-primary" *ngIf="keys=='Multiple pre-built programs'"></i>
                                    <i class="dtic-bar-graph text-exlarge text-primary" *ngIf="keys=='Pre-built metrics'"></i>
                                    <i class="dtic-triggers text-exlarge text-primary" *ngIf="keys=='Pre-built advanced triggers'"></i>
                                    <i class="dtic-triggers text-exlarge text-primary" *ngIf="keys=='AI suggested action plans'"></i>
                                    <i class="dtic-filter text-exlarge text-primary" *ngIf="keys=='Pre-built filters'"></i>
                                    <i class="dtic-distribution text-exlarge text-primary" *ngIf="keys=='Custom lists and metadata'"></i>
                                    <i class="dtic-integrations text-big text-primary" *ngIf="keys=='Suggested integrations'"></i>
                                    <i class="dtic-hierarchy text-exlarge text-primary" *ngIf="keys=='Results with insights'"></i>
                                    <i class="dtic-bar-graph text-exlarge text-primary" *ngIf="keys=='Advanced text analytics'"></i>
                                </span>
                                <span class="text-para text-dark">
                                    {{keys}}
                                </span>
                            </li>
                        <ul class="d-flex flex-column gap-12 py-16 exploree-plans-ul" hidden>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-programs text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Pre-built programs 
                                </span>
                            </li>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-bar-graph text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Custom pre-built metrics
                                </span>
                            </li>
                            <li class="d-flex gap-8" *ngIf="(this.selectedGamePlan.classifications | json) != '{}'">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-hierarchy text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Custom pre-defined categories
                                </span>
                            </li>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-triggers text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Pre-built Advanced triggers
                                </span>
                            </li>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-integrations text-big text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Pre-built Workflows
                                </span>
                            </li>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-triggers text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Pre-built Action plans
                                </span>
                            </li>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-filter text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Pre-built filters
                                </span>
                            </li>
                            <li class="d-flex gap-8">
                                <span class="w-40 h-40 border-radius-circle d-flex justify-center y-center bg-white">
                                    <i class="dtic-distribution text-exlarge text-primary">

                                    </i>
                                </span>
                                <span class="text-para text-dark d-flex y-center">
                                    Custom lists and metadata
                                </span>
                            </li>
                        </ul>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
