.gameplansCardPortal > ul > li,
.gameplansCardPortal .template-image{
    border-radius: 20px !important;
}
.gameplansCardPortal .template-image{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.key-feature-circle{
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}