
<aside class="navbar sidebar d-flex justify-space text-center">
    <div class="primary-nav">
        <a href="javascript:void(0);" class="dt-logo" (click)='navigateToClientScreen()'>
            <img src="../../../assets/images/logo.svg" alt="dt-logo" />
        </a>
        <!--primary-nav-->
        <ul class="nav">
            <li>
                <a href="javascript:void(0);" title="" (click)='navigateToClientScreen()'>
                    <i class="survey-icon"></i>
                    <span class="nav-desc">Clients</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" title="" (click)='navigateToCustomThemeScreen()'>
                    <i class="survey-icon customtheme-icon"></i>
                    <span class="nav-desc">Custom Themes</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" title="" (click)="templateToggle()">
                    <i class="survey-icon template-icon"></i>
                    <span class="nav-desc">Manage Templates</span>
                </a>
                <ul class="profile-dropdown accountDropdown" id="templateDropdown" style="display: none;">
                    <li>
                        <a href="javascript:void(0);" title="" (click)="navigateToCreateTemplates()">
                            Manage Templates
                        </a>
                    </li>
                    <li class="logout" (click)="navigateToCreateGameplans()">
                        <a href="javascript:void(0);" title="">
                            Manage Gameplans
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="secondary-nav">
        <!--Secondary Nav-->
        <ul class="nav">
            <li>
                <a href="javascript:void(0);" (click)="accountToggle()">
                    <i class="account-icon">&nbsp;</i>
                    <span class="nav-desc">Account</span>
                </a>
                <ul class="profile-dropdown accountDropdown" id = "accountDropdown" style="display:none">
                    <li>
                        <a href="javascript:void(0);" title="" (click)="navigateToAccountPage()">
                            Account
                        </a>
                    </li>
                    <li class="logout" (click)="logOut()">
                        <a href="javascript:void(0);" title="">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Older commented code -->
           <!-- <li>
                <a  target="_blank" href="https://dt-help-center.s3-website.us-east-2.amazonaws.com/help">
                    <i  class="help-icon">&nbsp;</i>
                    <span  class="nav-desc">Help</span>
                </a>
            </li> -->
        </ul>
    </div>
</aside>
