<app-navigation></app-navigation>
<main class="main-content">
    <header class="page-header">
        <div class="breadcrumbs-newtask-wrap d-flex y-center justify-space m-0">
            <ul class="breadcrumbs d-flex y-center">
                <li class="relative" (click)="goToTemplates()">
                    <a href="javascript:void(0);" title="">Dropthought templates</a>
                </li>
                <li class="text-ellisps">
                    <a href="javascript:void(0);" title="" class="active breadcrumbs">
                        Create new Template
                    </a>
                </li>
            </ul>
            <div class="d-flex gap-24">
                <button type="button" class="dt-btn dt-btn-white" (click)="cancelTemplate()">
                    Cancel
                </button>
                <button type="button" [class]="this.createTemplateSurveyForm.controls.createTemplateName.value && this.createTemplateSurveyForm.controls.createTemplateName.value.length > 0 && !this.createTemplateSurveyForm.controls.createTemplateName.hasError('templateExists') && selectedClient
                    && this.createTemplateSurveyForm.controls.programId.value && this.createTemplateSurveyForm.controls.programId.value.length > 0 && !showProgramError && industry.length != 0 && templateImage && !showImageError ? 'dt-btn dt-btn-secondary' : 'dt-btn dt-disabled'"
                    [disabled]="((this.createTemplateSurveyForm.controls.createTemplateName.value && this.createTemplateSurveyForm.controls.createTemplateName.value.length == 0 && this.createTemplateSurveyForm.controls.createTemplateName.hasError('templateExists')) || selectedClient == ''
                    || (this.createTemplateSurveyForm.controls.programId.value && this.createTemplateSurveyForm.controls.programId.value.length == 0) || showProgramError || industry.length == 0 || templateImage == '' || showImageError)" (click)="saveTemplate()">
                    Save
                </button>
            </div>
        </div>
        <div class="pagination-wrap">
            <ul class="pagination-ul d-flex y-center">

            </ul>
        </div>
    </header>
    <div class="main-content-outer-wrap d-flex xy-center flex-column">
        <div class="d-flex flex-column w-65-percent">
            <form id="create-template-content-surveyform" [formGroup]="createTemplateSurveyForm">
            <ul class="d-flex flex-column gap-32">
                <li class="d-flex flex-column gap-8 form-group">
                    <label class="text-para">
                        Template title *
                    </label>
                    <input type="text" placeholder="Give a name to the template" formControlName="createTemplateName" name="createTemplateName" maxlength="64" autocomplete="off" [(ngModel)]="createTemplateName" />
                    <div id="create-template-name-error-dirty" *ngIf="this.createTemplateSurveyForm.controls.createTemplateName.dirty">
                        <div id="create-template-name-error-language-en-SQPEVPN" class="text-danger text-exsmall" *ngIf="language=='en' && this.createTemplateSurveyForm.controls.createTemplateName.hasError('invalidText')">
                          Please enter valid template name
                        </div>
                        <div id="create-template-name-error-language-en-PMprgmExists" class="text-danger text-exsmall" *ngIf="this.createTemplateSurveyForm.controls.createTemplateName.hasError('templateExists') && this.createTemplateSurveyForm.controls.createTemplateName.value != selectedSurveyName">
                            This name already exists. Please use another.
                        </div>
                    </div>
                </li>
                <li class="d-flex flex-column gap-8 form-group">
                    <label class="text-para">
                        Template type *
                    </label>
                    <div class="d-flex gap-40 align-center">
                        <div class="cs-radio d-flex">
                            <label class="radio-btn">
                                <input type="radio" class="radio" name="templateType" value="Basic"
                                (change)="selectTemplateType($event.target.value)"
                                [checked]="selectedTemplateType == 'Basic'"/>
                                <span class="d-flex y-center">
                                    Basic
                                </span>
                            </label>
                        </div>
                        <div class="cs-radio d-flex">
                            <label class="radio-btn">
                                <input type="radio" class="radio" name="templateType" value="Advanced"
                                (change)="selectTemplateType($event.target.value)"
                                [checked]="selectedTemplateType == 'Advanced'"/>
                                <span class="d-flex y-center">
                                    Advanced
                                </span>
                            </label>
                        </div>
                    </div>
                </li>
                <li class="d-flex flex-column gap-8 form-group form-group-sub-drop m-0">
                    <label class="text-para">
                        Select your account *
                    </label>
                    <input type="text" placeholder="{{selectedClientPlaceholder}}" readonly (click)="displaySubDropDownMenu('accountMenu')"/>
                    <span class="text-small text-gray">
                        Account needs to be active
                    </span>
                    <div class="dropdown-form top-input-relative d-flex flex-column gap-12 max-height" style="display: none;" id="accountMenu">
                        <div class="cs-radio d-flex flex-column gap-8">
                            <label class="radio-btn" *ngFor="let account of currentClients; let accountIndex = index">
                                <input type="radio" class="radio" name="accountSelected" (click)="selectAccount(account)" [checked]="selectedClient"/>
                                <span class="d-flex y-center" *ngIf="account.kingName">
                                    {{account.kingName}}
                                </span>
                                <span class="d-flex y-center" *ngIf="!account.kingName">
                                    {{account.businessName}}
                                </span>
                            </label>
                        </div>
                    </div>
                </li>
                <li class="d-flex flex-column gap-8 form-group">
                    <label class="text-para">
                        Program ID *
                    </label>
                        <input type="text" placeholder="Copy and paste the program ID" formControlName="programId" name="programId" (input)="removeError()"/>
                        <span class="text-danger text-exsmall" *ngIf="showProgramError">
                            {{programErrorMsg}}
                        </span>
                        <span class="text-gray text-small">
                            Copy the ID of the program you want to use as template.
                        </span>
                </li>
                <li class="d-flex flex-column gap-8 form-group form-group-sub-drop m-0">
                    <label class="text-para">
                        Industry *
                    </label>
                    <input type="text" placeholder="{{industryPlaceholder}}" readonly (click)="displaySubDropDownMenu('industryMenu')" />
                    <!-- <p *ngIf="industryPlaceholderError" class='error_msg'>Please select the Client’s industry</p> -->
                    <!--Sub drop menu-->
                    <div class="dropdown-form top-input-relative d-flex flex-column gap-12" style="display: none;" id="industryMenu">
                        <label class="cs-checkbox" (mouseup)="selectIndustry(industry)" *ngFor="let industry of defaultIndustry; let industryIndex = index">
                        <input type="checkbox" class="check" [checked]="industryPlaceholder.includes(industry)" />
                        <span>
                            {{industry}}
                        </span>
                        </label>
                    </div>
                </li>
                <li class="d-flex flex-column gap-8 form-group">
                    <label class="text-para">
                        Template image *
                    </label>
                    <div class="file-upload">
                        <input type="file" id="file-input" class="file-input" (click)="files.value = null" #files (change)="uploadTemplateImage($event)" accept=".jpg,.jpeg,.png,.svg">
                        <input type="text" class="file-name" readonly placeholder="{{fileName}}">
                        <label for="file-input" class="file-btn">Browse</label>
                      </div>  
                      <span class="text-small text-gray">
                        Image size should JPG or PNG and less than 1MB with dimension 280*16 px. 
                      </span>
                      <span class="text-danger text-exsmall" *ngIf="showImageError">
                        Please make sure you upload a a file that meets the following criteria: size < 1MB, dimension: 280x160 px, and format: jpg, jpeg, png.
                      </span>                                 
                </li>
                <li class="d-flex flex-column gap-8 form-group form-group-sub-drop m-0">
                    <label class="text-para">
                        Select Workflows that should go in this template <span class="font-regular text-small text-gray">(Optional)</span>
                    </label>
                    <input type="text" placeholder="{{workflowPlaceholder}}" (click)="displaySubDropDownMenu('workflow-dropdown')"/>
                    <!--Sub drop menu-->
                    <div class="dropdown-form top-input-relative d-flex flex-column gap-12" style="display: none;" id="workflow-dropdown">
                        <label class="cs-checkbox" (mouseup)="selectWorkflows(workflow)" *ngFor="let workflow of workflowData; let workflowIndex = index">
                        <input type="checkbox" class="check" [checked]="workflowPlaceholder.includes(workflow.name)" />
                        <span>
                            {{workflow.name}}
                        </span>
                        </label>
                    </div>
                </li>
            </ul>
            </form>
        </div>
    </div>
</main>