<!-- <p (click)="back()">
  custom-theme-preview works!
</p> -->
<div class="main-content m-0 w-100-percent p-0 sticky-header ojar-theme-dark relative">
  <!-- <div class="bg-overlay"></div> -->
    <div class="preview-header d-flex justify-space y-center header-sticky">
        <a href="javascript:void(0)" class="text-para font-medium gap-8 d-flex y-center text-primary" (click)="back()">
          <svg width="7.41" height="12" viewBox="0 0 7.41 12">
            <path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#4B3694"/>
          </svg>
            Go Back
        </a>
        <div class="d-flex previewing-devices flex-column h-100-percent">
          <ul class="d-flex gap-16 h-100-percent">
            <li (click)="viewType = 'desktop'" class="d-flex relative transition-basic h-100-percent" [ngClass]="viewType == 'desktop' ? 'active' : ''">
                <a href="javascript:void(0);" title="" class="d-flex y-center flex-column justify-center">
                  <svg  width="28" height="26" viewBox="0 0 28 26">
                    <path id="ic_desktop_windows_24px" d="M26.454,2H3.545A2.581,2.581,0,0,0,1,4.6V20.2a2.581,2.581,0,0,0,2.545,2.6H12.45v2.6H9.909V28H20.09V25.4H17.545V22.8h8.909A2.581,2.581,0,0,0,29,20.2V4.6A2.581,2.581,0,0,0,26.454,2Zm0,18.2H3.545V4.6H26.454Z" transform="translate(-1 -2)" fill="#848a93"/>
                  </svg>
                  <span class="device-name text-exsmall text-dark" hidden>Desktop</span>
                </a>
            </li>
            <li (click)="viewType = 'tablet'" class="d-flex relative transition-basic h-100-percent" [ngClass]="viewType == 'tablet' ? 'active' : ''">
                <a href="javascript:void(0);" title="" class="d-flex y-center flex-column justify-center">
                  <svg width="28" height="20.182" viewBox="0 0 28 20.182">
                    <path id="Subtraction_2" data-name="Subtraction 2" d="M25.446,20.182H2.543A2.734,2.734,0,0,1,0,17.3V2.871A2.726,2.726,0,0,1,2.543,0h22.9A2.726,2.726,0,0,1,27.99,2.871L27.977,17.3a2.729,2.729,0,0,1-2.531,2.885ZM5.088,2.871V17.3H22.9V2.871ZM25.6,9.918a.763.763,0,1,0,.763.763A.763.763,0,0,0,25.6,9.918Zm-23.269,0a.381.381,0,1,0,.381.381.381.381,0,0,0-.381-.381Z" transform="translate(0.006)" fill="#848a93"/>
                  </svg>
                  <span class="device-name text-exsmall text-dark" hidden>Tablet</span>
                </a>
            </li>
            <li (click)="viewType = 'mobile'" class="d-flex relative transition-basic h-100-percent" [ngClass]="viewType == 'mobile' ? 'active' : ''">
                <a href="javascript:void(0);" title="" class="d-flex y-center flex-column justify-center">
                  <svg width="15" height="28" viewBox="0 0 15 28">
                    <path id="Subtraction_1" data-name="Subtraction 1" d="M12.842,28H2.129A2.368,2.368,0,0,1,0,25.46V2.54A2.368,2.368,0,0,1,2.129,0L12.842.013A2.365,2.365,0,0,1,14.985,2.54V25.454A2.373,2.373,0,0,1,12.842,28ZM7.183,24.63a.952.952,0,1,0,.952.953.958.958,0,0,0-.952-.953ZM2.129,5.091V22.909H12.842V5.091ZM4.7,2.842a.474.474,0,1,0,0,.947h5.715a.474.474,0,1,0,0-.947Z" transform="translate(0.007)" fill="#848a93"/>
                  </svg>
                  <span class="device-name text-exsmall text-dark" hidden>Mobile</span>
                </a>
            </li>
          </ul>
        </div>
        <div class="">
           <span>&nbsp;</span>
        </div>
    </div>
    <div class="preveiew-area-container relative h-100-percent w-100-percent">
        <section class="devices-wrap xy-center h-100-percent">
          <div [ngClass]="viewType == 'mobile' ? 'dt-mobile-device' : viewType == 'tablet' ? 'dt-ipad-device' : 'dt-desktop'">
            <ng-container *ngIf="sanitizedCustomizedURL">
              <iframe width="100%" height="100%" frameBorder="0" [src]="sanitizedCustomizedURL"></iframe>
          </ng-container>
          </div>
        </section>
    </div>
</div>